{% extends "peerinst/base.html" %}

{% load i18n static %}

{% block body %}

<h1>{{ title }}</h1>

{% block content %}

<p>{% trans "Please enter your old password, for security's sake, and then your new password twice so we can verify you typed it correctly." %}</p>

<form method="post" id="password_change_form">
  {% csrf_token %}
<div>
  {{ form.old_password.errors }}
  <label for="id_old_password">{% trans 'Old password:' %}</label><br>
  {{ form.old_password }}
</div>
<div>
  {{ form.new_password1.errors }}
  <label for="id_new_password1">{% trans 'New password:' %}</label><br>
  {{ form.new_password1 }}
</div>
<div>
  {{ form.new_password2.errors }}
  <label for="id_new_password2">{% trans 'Confirm password:' %}</label><br>
  {{ form.new_password2 }}
</div>
<input type="submit" value="{% trans 'Change my password' %}">
</form>

{% endblock %}

{% endblock %}
