$mdc-typography-font-family: 'Montserrat';
$mdc-theme-primary: #54c0db;
$mdc-theme-secondary: #004266;
$mdc-theme-background: #f4f4f4;
$radius: 10px;

@import '@material/button/mdc-button';
@import '@material/card/mdc-card';
@import '@material/checkbox/mdc-checkbox';
@import '@material/chips/mdc-chips';
@import '@material/dialog/mdc-dialog';
@import '@material/elevation/mdc-elevation';
@import '@material/form-field/mdc-form-field';
@import '@material/icon-toggle/mdc-icon-toggle';
@import '@material/image-list/mdc-image-list';
@import '@material/layout-grid/mdc-layout-grid';
@import '@material/line-ripple/mdc-line-ripple';
@import '@material/list/mdc-list';
@import '@material/notched-outline/mdc-notched-outline';
@import '@material/radio/mdc-radio';
@import '@material/ripple/mdc-ripple';
@import '@material/textfield/mdc-text-field';
@import '@material/theme/mdc-theme';
@import '@material/toolbar/mdc-toolbar';
@import '@material/typography/mdc-typography';

.mdc-card {
  @include mdc-card-corner-radius($radius);
}

.ripple-icon {
  @include mdc-ripple-surface;
  @include mdc-ripple-radius-unbounded;
  @include mdc-states($mdc-theme-primary);
}

.mdc-text-field--textarea .mdc-floating-label {
  background-color: $mdc-theme-background;
}

.partner-list {
  @include mdc-image-list-standard-columns(3);
}

@media (max-width: 800px) {
  .partner-list {
    @include mdc-image-list-standard-columns(2);
  }
}

@media (max-width: 600px) {
  .partner-list {
    @include mdc-image-list-standard-columns(1);
  }
}


body {
  background-color: var(--mdc-theme-background);
  color: var(--mdc-theme-secondary);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  margin: 0pt;
}
header {
  background-image: linear-gradient(90deg,var(--mdc-theme-primary) 0%, var(--mdc-theme-secondary) 100%);
  color: white;
  padding:4pt;
  font-size: 18pt;
}
header a {
  color: white;
}
footer {
  background-image: linear-gradient(0deg,var(--mdc-theme-secondary) 0%, var(--mdc-theme-secondary) 90%, var(--mdc-theme-primary) 90%);
  color: white;
  padding-top: 5px;
  padding-bottom:5px;
}
footer a {
  color: white;
  padding-left:10px;
}
main {
  max-width: 800px;
  margin: auto;
}
section {
  padding-left: 5px;
  padding-right: 20px;
}
h1 {
  color: var(--mdc-theme-primary);
}
p {
  margin: 0.25em 0;
}
a {
  color: grey;
  text-decoration: none;
}
img {
  max-width: 80%;
  max-height: 300px;
  width: auto;
  height: auto;
}
dt  {
  clear:left;
  float:left;
}
dd {
  clear:right;
}
blockquote, .rationale-text {
  color: #525252;
  background-color: #F6F6F6;
  border: 1px solid #C8C8C8;
  padding: 1em;
}
div.action {
  height: 40px;
  vertical-align: middle;
  font-weight: 600;
}
ul {
  list-style: none;
}
ul#id_first_answer_choice {
  margin-top: 0;
  margin-bottom: 2em;
}
form ul {
  padding-left: 5px;
}
.rationales {
  display: table;
  border-collapse: collapse;
  margin-left:40px;
  margin-right:40px;
}
.rationale {
  display: table-row;
}
.rationale-choice {
  white-space: nowrap;
  /* Keeps things looking sane if there are no example rationales. */
  padding-bottom: 1em;
}
.rationale-text-container{
  display: table-cell;
}
.rationale-choice input {
  display: none;
}
.rationale li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.rationale:not(:first-child) {
  border-top: 1px solid lightgray;
}
.errorlist, ul li.error {
  display: block;
  box-shadow: 0 -1px 2px 0 #F3D9DB inset;
  border-bottom: 3px solid #A0050E;
  background: none repeat scroll 0 0 #FBF2F3;
  box-sizing: border-box;
  margin: 0 0 20px;
  padding: 20px;
  font-size: 15px;
  color: #3C3C3C;
  line-height: 1.41575em;
}
li.error h3{
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0 !important;
  color: #A0050E;
  margin: 0;
}
li.first-choice{
  font-weight: bold;
}
li.second-choice{
  font-style: italic;
}
input[type="submit"].thumbs-button {
  font-size: 0;  /* Make text invisible */
  width: 80px;
  height: 40px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
input[type="submit"].thumbs-up {
  background-image: url("/static/peerinst/img/thumbs-up.svg");
}
input[type="submit"].thumbs-down {
  background-image: url("/static/peerinst/img/thumbs-down.svg");
}
.votable-rationale q {
  font-style: italic;
}
.share-question-answers-summary label {
  font-weight: bold;
}
.share-question-answers-summary textarea {
  width: 50%;
  height: 100px;
}
.wrapper {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
}
.header-right {
  text-align:right;
  font-size:10pt;
  line-height:1.2;
}
.site-content {
  margin: 20pt;
}
.admin-link {
  margin-top:-20pt;
  margin-bottom:12pt;
  font-size:9pt;
  opacity:0.8;
}
.helptext {
  font-size:9pt;
  opacity:0.8;
  padding-left: 15pt;
}
.dense-list {
  margin-bottom:4px;
}
.bold {
  font-weight:bold;
}
/*.question-text {
  margin-left: 30pt;
  margin-right: 20pt;
  margin-top: 2pt;
  margin-bottom: 10pt;
  font-size: 10pt;
  line-height:1.3;
}*/
.question-image {
  display:block;
  margin:auto;
  padding-top:10pt;
  padding-bottom:10pt;
}
.search {
  display:inline;
  vertical-align: middle;
  padding-top:4pt;
}
.stats {
  font-size: 8pt;
}
.items-for-question {
  margin-left: 30pt;
  margin-right: 20pt;
  margin-top: 4pt;
  margin-bottom:6pt;
  line-height: 1.2;
  list-style: circle outside;
}
.blink_labels {
  font-size: 10pt;
  fill: white;
}
.blink_rect {
  fill: gray;
}
.axis {
  font-size: 10pt;
  opacity:0.6;
}
.note {
  font-size: 10pt;
  margin-bottom: 20px;
}
.underline {
  overflow:visible;
  position: absolute;
  left:0px;
  bottom:-3px;
}
.analytics-tags {
  cursor:pointer;
  font-size:20px;
  transform: translateY(4px);
  opacity:0.8;
}
.small-button {
  padding-left:0pt;
  padding-right:0pt;
  min-width:20pt;
  height:20pt;
  margin:4pt;
}
.icon-list {
  margin-left:20px;
  cursor: pointer;
  overflow: visible;
}
.input-ripple-wrapper {
   margin-right:6px;
   float:left;
   overflow:visible;
   width:25px;
   max-height:25px;
   cursor: pointer;
}
.mdc-typography--display3 {
  position:sticky;
  position:-webkit-sticky;
}
.mdc-list-item__meta i{
  vertical-align: middle;
}
.mdc-list {
  max-width:600px;
}
.mdc-text-field__input {
  width: 250px;
}
.mdc-typography--body1 {
  font-size: 16px;
  letter-spacing: 0em;
  -webkit-font-smoothing: auto;
}
.mdc-form-field > label {
  padding-left: 2px;
}
.mdc-dialog__body--scrollable {
  max-height: 450px;
}
.mdc-card {
  padding:20px 20px 12px;
  margin-bottom:10px;
  background-color: white;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-32 { font-size: 32px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-96 { font-size: 96px; }
#logo {
  width: 40px;
  vertical-align: middle;
  padding-right: 4pt;
}
#id_rationale {
  width: 100%;
}
.mdc-list-item__text {
  max-width: 300px;
}
#check {
  color:  var(--mdc-theme-primary);
}
.blink_rect {
  fill: var(--mdc-theme-primary);
}
#timer-bg {
  fill:  var(--mdc-theme-primary);
}
.mdc-button {
  color: white !important;
}

div.input-ripple-wrapper input {
  color: grey !important;
}

@media (max-height: 650px) {
  .mdc-dialog__body--scrollable {
    max-height: 350px;
  }
}

@media (max-width: 450px) {
  section {
    padding-right: 5pt;
  }
  ul,ol {
    -moz-padding-start: 20px;
    -webkit-padding-start: 20px;
  }
  img {
    max-width: 100%;
    max-height: 200px;
  }
  .site-content {
    margin: 2pt;
  }
  .rationales {
    margin-left:20px;
  }
  .mdc-typography--display3 {
    font-size: 30pt;
  }
  .mdc-typography--display1 {
    font-size: 20pt;
  }
  .mdc-list-item__text {
    max-width: 130px;
  }
  .icon-list {
    margin:0pt;
  }
}
