body {
    color: #3C3C3C;
    font: 1em/1.6em "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
}
p {
    margin: 0.25em 0;
}
img {
    max-width: 100%;
    height: auto;
}
dt  {
    clear:left;
    float:left;
}
dd {
    clear:right;
}
blockquote, .rationale-text {
    color: #525252;
    background-color: #F6F6F6;
    border: 1px solid #C8C8C8;
    padding: 1em;
}
div.action {
    height: 40px;
    vertical-align: middle;
    font-weight: 600;
}
div.light-button, input[type="submit"], input[type="button"] {
    border: 1px solid #CFC6C6;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #FFF inset;
    color: #333;
    display: inline-block;
    font-weight: bold;
    background-color: #EEE;
    background-image: linear-gradient(#EEE, #D6CECE);
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #F9F8F8;
    background-clip: padding-box;
    font-size: 0.8125em;
}

div.light-button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    box-shadow: 0px 1px 0px 0px #FBFBFB inset;
    cursor: pointer;
    background-color: #E1E1E1;
    background-image: linear-gradient(#E1E1E1, #CFC6C6);
}
div.light-button:active, input[type="submit"]:active, input[type="button"]:active {
    border: 1px solid #CFC6C6;
    box-shadow: 0px 0px 8px 4px #C7BEBE inset, 0px 0px 8px 4px #C7BEBE inset;
}

input[type='text'], textarea {
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #C8C8C8;
    border-radius: 0;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6), 0px 0px 3px 0px rgba(0, 0, 0, 0.1) inset;
    box-sizing: border-box;
    font: 1em "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
    padding: 5px 12px;
    vertical-align: top;
    margin-left: 1em;
    margin-bottom: .5em;
}

ul {
    list-style: none;
}

ul#id_first_answer_choice {
    margin-top: 0;
    margin-bottom: 2em;
}

ul#answer-choices{
    list-style: disc;
}

input[type='text'] {
    height: 35px;
}

input[type='text']:focus, .form-field:focus {
    background-color: #FAFAFA;
}

.rationales {
    display: table;
    border-collapse: collapse;
}
.rationale {
    display: table-row;
}
.rationale-choice {
    white-space: nowrap;
    /* Keeps things looking sane if there are no example rationales. */
    padding-bottom: 1em;
}
.rationale-choice, .rationale-text-container{
    display: table-cell;
}
.rationale-choice input {
    display: none;
}

.errorlist, ul li.error {
    display: block;
    box-shadow: 0 -1px 2px 0 #F3D9DB inset;
    border-bottom: 3px solid #A0050E;
    background: none repeat scroll 0 0 #FBF2F3;
    box-sizing: border-box;
    margin: 0 0 20px;
    padding: 20px;
    font-size: 15px;
    color: #3C3C3C;
    line-height: 1.41575em;
}

li.error h3{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0 !important;
    color: #A0050E;
    margin: 0;
}

li.first-choice{
    font-weight: bold;
}
li.second-choice{
    font-style: italic;
}
.rationale:not(:first-child) {
    border-top: 1px solid lightgray;
}
input[type="submit"].thumbs-button {
    font-size: 0;  /* Make text invisible */
    width: 80px;
    height: 40px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
input[type="submit"].thumbs-up {
    background-image: url("/static/peerinst/img/thumbs-up.svg");
}
input[type="submit"].thumbs-down {
    background-image: url("/static/peerinst/img/thumbs-down.svg");
}
.votable-rationale q {
    font-style: italic;
}
.share-question-answers-summary label {
    font-weight: bold;
}
.share-question-answers-summary textarea {
    width: 50%;
    height: 100px;
}
.site-content {
  margin: 20pt;
}
#logo {
  width: 40px;
  vertical-align: middle;
  padding-right: 4pt;
}
a {
  color: grey;
}
