{% extends "peerinst/base.html" %}

{% load staticfiles compress %}

{% block stylesheets %}
{% compress css inline %}
<style>
header {
  padding-right: 0px;
}
.site-content {
  margin-bottom: 80pt;
}
.image-list {
  margin-top: 20pt;
}
.icon {
  font-size:24pt;
}
.stats {
  display:block;
  margin:auto;
}
.mdc-chip-set {
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  margin-right:0pt;
  margin-left: auto;
}
.mdc-toolbar {
  padding:0pt;
}
.mdc-toolbar__row {
  min-height: 100px;
  background-image:radial-gradient(500px 500px,rgba(255,255,255,0.4),var(--mdc-theme-primary));
}
.mdc-typography--caption {
  text-align:center;
  margin-top:16px;
  font-size: 12pt;
  font-weight: 700;
}
.mdc-typography--display3 {
  padding-top:70px;
  padding-bottom:10px;
  top:70px;
  z-index: 2;
}
.embedded-video {
  display:block;
  margin:auto;
}
.white {
  background-color: white;
}
.footer_content {
  font-size:11pt;
  margin-top:10px;
  margin-left:20px;
  margin-right:20px;
}
.navleft {
  position:absolute;
  font-size:11pt;
  bottom:4px;
  left:20px;
}
.navleft a {
  padding-right:20px;
  color: white;
}
.navright {
  position:absolute;
  font-size:11pt;
  bottom:4px;
  right:20px;
  text-align: right;
}
.navright a {
  padding-left:20px;
  color: white;
}
.count {
  font-size: 32pt;
}
#scrollprompt {
  color: white;
  position:absolute;
  bottom:0px;
  left:50%;
}
#animation {
  display:block;
  margin:auto;
  overflow:visible;
}
</style>
{% endcompress %}
{% endblock %}

{% block body %}
<script>
// Override default size of header to fill page based on window size
var styles = document.createElement('style');
document.head.appendChild(styles);
var styleSheet = styles.sheet;
styleSheet.insertRule(".mdc-toolbar--flexible {--mdc-toolbar-ratio-to-extend-flexible:"+window.innerHeight/64+" !important;}");
</script>

<header class="mdc-toolbar mdc-toolbar--fixed mdc-toolbar--flexible mdc-toolbar--waterfall">
  <div class="mdc-toolbar__row">
    <svg id="animation" width=800 height=80></svg>
    <i id="scrollprompt" class="icon ion-arrow-down-b"></i>
    <span class="navleft">
      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'sign_up' %}">Signup</a>
    </span>
    <span class="navright">
      <a href="">EN</a>
    </span>
  </div>
</header>

<main class="mdc-toolbar-fixed-adjust">
  <section>
    <h1 class="mdc-typography--display3 mdc-theme--background">Features
      <svg class="underline" width=150 height=4></svg>
    </h1>
    <h2 class="mdc-typography--headline">Peer Instruction: In-Class, At-Home, or in MOOCs</h2>
    <p class="mdc-typography--body1">
      Teachers can use the same questions in-class in "polling-mode", or assign those items to students for out-of-class work through their LMS. Instructional designers can access the same server for MOOCs for thousands of students. Teachers can peruse content based on analytics, and get reports for how their students are doing over time.
    </p>
    <h2 class="mdc-typography--headline">Most active disciplines</h2>
    <p class="mdc-typography--body1">
      {% lorem %}
    </p>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        {% for l in disciplines|first %}
        {% if l != "name" %}
        <div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-3-desktop">
          <svg class="stats" id="{{ l }}" width=150 height=150></svg>
          <div class="mdc-typography--caption mdc-theme--primary">{{ l|capfirst }}</div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="mdc-chip-set mdc-chip-set--choice" data-mdc-auto-init="MDCChipSet">
      {% for d in disciplines %}
      <div id="{{ d.name }}" class="mdc-chip" onclick="update(this,event)" tabindex="0" data-mdc-auto-init="MDCChip">
        <div class="mdc-chip__checkmark">
          <svg class="mdc-chip__checkmark-svg" viewBox="-2 -3 30 30">
            <path class="mdc-chip__checkmark-path" fill="none" stroke="black"
            d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
          </svg>
        </div>
        <div class="mdc-chip__text">{{ d.name }}</div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section>
    <h1 class="mdc-typography--display3 mdc-theme--background">{{ 'A guided tour'|title }}
      <svg class="underline" width=150 height=4></svg>
    </h1>
    <div id="player" class="embedded-video"></div>
  </section>

  <section>
    <h1 class="mdc-typography--display3  mdc-theme--background">Development
      <svg class="underline" width=150 height=4></svg>
    </h1>
    <h2 class="mdc-typography--headline">History</h2>
    <p class="mdc-typography--body1">
      Peer Instruction, popularized by Eric Mazur of Harvard University, is one of the most prevalent classroom activities today. Something fascinating happens during these peer discussions, whereby students can convince each other of the correct thinking. But what about instances when the class size is too small for diversity of answers, or the teacher wants to have students prepare for class using a similar approach? This is where DALITE was born!
    </p>
    <h2 class="mdc-typography--headline">The Next Generation</h2>
    <p class="mdc-typography--body1">
      HarvardX, a founding member of the edX consortium, financed the development of DALITE into an open source, LTI compliant tool, making it available through most major Learning Management Systems, including Moodle, OpenEdx and Canvas. Since 2015, the SALTISE/S4 instance of DALITE, known as myDALITE.org, has been used in several Massive Open Online Classroom (MOOCs) on the edX platform, including Physics, Exercise Science, and Ethics and Morality.
    </p>
  </section>

  <section>
    <h1 class="mdc-typography--display3 mdc-theme--background">SALTISE/S4
      <svg class="underline" width=150 height=4></svg>
    </h1>
    <h2 class="mdc-typography--headline">Vision</h2>
    <p class="mdc-typography--body1">
      SALTISE is a learning community that fosters the development and research of tools and resources for pedagogical innovations as well as bringing together educators (researchers and practitioners) and professional development personnel across the province of Quebec, as well as welcoming national and international partnerships.
    </p>
    <h2 class="mdc-typography--headline">The S4 project</h2>
    <p class="mdc-typography--body1">
      {% lorem %}
    </p>
  </section>

  <section>
    <h1 class="mdc-typography--display3 mdc-theme--background">Partners
      <svg class="underline" width=150 height=4></svg>
    </h1>
    <h2 class="mdc-typography--headline">Paragraph title</h2>
    <p class="mdc-typography--body1">
      {% lorem %}
    </p>
    <div class="image-list">
      <ul class="mdc-image-list mdc-image-list--masonry partner-list">
        <li class="mdc-image-list__item">
          <img class="mdc-image-list__image" style="width:200px" src="{% static 'peerinst/img/dawson_logo.png' %}">
        </li>
        <li class="mdc-image-list__item">
          <img class="mdc-image-list__image" style="width:200px" src="{% static 'peerinst/img/mcgill_logo_big.png' %}">
        </li>
      </ul>
    </div>
  </section>
</main>
{% endblock %}

{% block footer %}
<footer>
  <div class="wrapper">
    <div class="footer_content">
      &copy 2018 SALTISE/S4
    </div>
    <div class="footer_content" style="text-align:right;">
      <a href="mailto:info@saltise.ca"><i class="icon ion-ios-email"></i></a>
      <a href="https://www.saltise.ca"><i class="icon ion-earth"></i></a>
      <a href="https://www.facebook.com/SALTISE/"><i class="icon ion-social-facebook"></i></a>
      <a href="https://twitter.com/saltise"><i class="icon ion-social-twitter"></i></a>
      <a href="https://github.com/SALTISES4/dalite-ng"><i class="icon ion-social-github"></i></a>
    </div>
  </div>
</footer>
{% endblock %}

{% block scripts %}
{% compress js inline %}
<script>
var toolbar = bundle.toolbar.MDCToolbar.attachTo(document.querySelector('.mdc-toolbar'));
toolbar.fixedAdjustElement = document.querySelector('.mdc-toolbar-fixed-adjust');

var arrow = document.getElementById('scrollprompt');
var flexibleExpansionRatio = 1.0;
toolbar.listen('MDCToolbar:change', function(evt) {
  flexibleExpansionRatio = evt.detail.flexibleExpansionRatio;
  arrow.style.opacity = flexibleExpansionRatio;
});
</script>

<script>
function logo(){
  'use strict';

  // Animate waves
  var svg = bundle.select("#animation");
  svg.attr("width",document.body.offsetWidth);

  var width = +svg.attr("width"),
  height = +svg.attr("height"),
  margin = {top:1,bottom:1,left:1,right:1};

  var innerWidth = width-margin.left-margin.right,
  innerHeight = height-margin.top-margin.bottom;

  svg.selectAll("g").remove();

  var g = svg.append("g").attr("transform","translate("+margin.left+","+(margin.top+innerHeight/2)+")");

  var x = bundle.scaleLinear().domain([0,2*Math.PI]).range([0,innerWidth]),
  y = bundle.scaleLinear().domain([-1,1]).range([-innerHeight/2,innerHeight/2]);

  var xAxis = g.append("g").style("opacity",0).call(bundle.axisBottom(x)),
  yAxis = g.append("g").style("opacity",0).call(bundle.axisLeft(y));

  var xPoints = bundle.range(0,2*Math.PI+0.01,(2*Math.PI/5));

  function f(v,x,t,a) {
    return Math.min(Math.max(10*flexibleExpansionRatio,2),4)*a*Math.sin(x-0.5*v*t);
  }

  function animation() {
    'use strict';

    var dt = 0;
    var offset1 = null;
    var offset2 = null;
    var offset3 = null;
    var t0 = bundle.now();
    var t = t0;

    var a1 = 0.5;
    var a2 = 0.3;
    var a3 = 0.4;

    var v1 = 0.001;
    var v2 = 0.0018;
    var v3 = -0.001;

    var y1 = 0;
    var y2 = -0.1;
    var y3 = +0.05;

    var line1 = bundle.line()
    .x(function(d) { return x(d); })
    .y(function(d) { return y(f(v1,d,t-dt-offset1,a1)+y1); })
    .curve(bundle.curveNatural);

    var line2 = bundle.line()
    .x(function(d) { return x(d); })
    .y(function(d) { return y(f(v2,d,t-dt-offset2,a2)+y2); })
    .curve(bundle.curveNatural);

    var line3 = bundle.line()
    .x(function(d) { return x(d); })
    .y(function(d) { return y(f(v3,d,t-dt-offset3,a3)+y3); })
    .curve(bundle.curveNatural);

    var intersection1 = bundle.area()
    .x(line1.x())
    .y0(y(0))
    .y1(line1.y())
    .curve(bundle.curveNatural);

    var intersection2 = bundle.area()
    .x0(line1.x())
    .y0(line1.y())
    .x1(line2.x())
    .y1(line2.y())
    .curve(bundle.curveNatural);

    var intersection3 = bundle.area()
    .x0(line1.x())
    .y0(line1.y())
    .x1(line3.x())
    .y1(line3.y())
    .curve(bundle.curveNatural);

    g.append("path")
    .datum(xPoints)
    .attr("class","intersection")
    .attr("fill",bundle.rgb(244,244,244,0.3))
    .attr("opacity",0)
    .attr("d",intersection1)
    .transition()
    .duration(1000)
    .attr("opacity",1)
    .transition()
    .duration(50)
    .on("start", function repeat() {
      if (offset1 == null) {
        offset1 = bundle.now()-t0;
      }
      if (flexibleExpansionRatio>0.01) {
        t = bundle.now();
        bundle.active(this)
        .attr("d",intersection1)
        .transition()
        .on("start", repeat);
      }
      else {
        dt += bundle.now() - t;
        t = bundle.now();
        bundle.active(this)
        .transition()
        .on("start", repeat);
      }
    });

    g.append("path")
    .datum(xPoints)
    .attr("class","intersection")
    .attr("fill",bundle.rgb(244,244,244,0.5))
    .attr("opacity",0)
    .attr("d",intersection2)
    .transition()
    .duration(1000)
    .attr("opacity",1)
    .transition()
    .duration(50)
    .on("start", function repeat() {
      if (offset2 == null) {
        offset2 = bundle.now()-t0;
      }
      if (flexibleExpansionRatio>0.01) {
        bundle.active(this)
        .attr("d",intersection2)
        .transition()
        .on("start", repeat);
      }
      else {
        bundle.active(this)
        .transition()
        .on("start", repeat);
      }
    });

    g.append("path")
    .datum(xPoints)
    .attr("class","intersection")
    .attr("fill",bundle.rgb(0,66,102,0.5))
    .attr("opacity",0)
    .attr("d",intersection3)
    .transition()
    .duration(1000)
    .attr("opacity",1)
    .transition()
    .duration(50)
    .on("start", function repeat() {
      if (offset3 == null) {
        offset3 = bundle.now()-t0;
      }
      if (flexibleExpansionRatio>0.01) {
        bundle.active(this)
        .attr("d",intersection3)
        .transition()
        .on("start", repeat);
      }
      else {
        bundle.active(this)
        .transition()
        .on("start", repeat);
      }
    });

    title();
  }

  function title(){
    'use strict';

    bundle.selectAll(".title").remove();

    g.append("text")
    .attr("class","title")
    .attr("x",margin.left+innerWidth/2)
    .attr("dx","25pt")
    .attr("y",y(0))
    .attr("fill","white")
    .attr("text-anchor","middle")
    .style("font-size","40pt")
    .style("cursor","pointer")
    .text("DALITE")
    .on("click",function(){
      window.location="{% url 'login' %}"
    });

    g.append("text")
    .attr("class","title")
    .attr("x",margin.left+innerWidth/2)
    .attr("dx","-70pt")
    .attr("y",y(0))
    .attr("fill","white")
    .attr("text-anchor","middle")
    .style("font-family","Cardo, serif")
    .style("font-style",'italic')
    .style("font-size","40pt")
    .style("cursor","pointer")
    .text("my")
    .on("click",function(){
      window.location="{% url 'login' %}"
    });

    g.append("text")
    .attr("class","title")
    .attr("x",margin.left+innerWidth/2+175)
    .attr("y",y(0))
    .attr("dx",-110)
    .attr("dy","16pt")
    .attr("fill","white")
    .attr("text-anchor","end")
    .style("font-family","Cardo, serif")
    .style("font-style",'italic')
    .style("font-size","14pt")
    .text("by")

    g.append("text")
    .attr("class","title")
    .attr("x",margin.left+innerWidth/2+145)
    .attr("y",y(0))
    .attr("dx","20pt")
    .attr("dy","16pt")
    .attr("fill","white")
    .attr("text-anchor","end")
    .style("font-size","14pt")
    .text("SALTISE/S4");
  }

  title();
  if (document.readyState === 'complete') {
    animation();
  }
  else {
    window.onload = animation;
  }
}

logo();

window.addEventListener("resize", logo);
</script>

<script>
data = {{ json|safe }};
labels = bundle.keys(data['All']);
var svg = [];
var width = [];
var height = [];

var g = [];
var text = [];
for (var i=0; i<labels.length; i++){
  svg[i] =  bundle.select("#"+labels[i]);
  width[i] = +svg[i].attr('width');
  height[i] = +svg[i].attr('height');

  g[i] = svg[i].append("g")
  .attr("transform","translate(" + width[i]/2 + "," + height[i]/2 + ")");

  /*let gradientR = g[i].append("radialGradient")
  .attr("id",'radialGradient')
  .attr('x1',0)
  .attr('x2',1)
  .attr('y1',0)
  .attr('y2',0);

  gradientR.append("stop")
  .attr("offset",'0%')
  .attr('stop-color','rgba(255,255,255,0.1)');

  gradientR.append("stop")
  .attr("offset",'100%')
  .attr('stop-color','var(--mdc-theme-primary)');*/

  g[i].append("circle")
  .attr("class","count-background")
  .attr("cx",0)
  .attr("cy",0)
  .attr("r",70)
  .attr("fill","white");

  g[i].append("circle")
  .attr("class","count-background")
  .attr("cx",0)
  .attr("cy",0)
  .attr("r",70)
  .attr("opacity",0.2)
  .attr("fill","var(--mdc-theme-primary)");

  g[i].append("circle")
  .attr("class","count-background")
  .attr("cx",0)
  .attr("cy",0)
  .attr("r",70)
  .attr("stroke","var(--mdc-theme-primary)")
  .attr("stroke-width",1.5)
  .attr("fill",'none');

  /*g[i].append("circle")
  .attr("class","count-background")
  .attr("cx",0)
  .attr("cy",0)
  .attr("r",80)
  .attr("fill","url(#radialGradient)");*/

  text[i] = g[i].append("text")
  .attr("class","count")
  .attr("c",data['All'][labels[i]])
  .attr("x",0)
  .attr("y",0)
  .attr("dy",20)
  .attr("text-anchor","middle")
  .attr("fill","var(--mdc-theme-primary)")
  .text(data['All'][labels[i]]);
}

function counts(dataset) {

  // Update counts for new discipline
  bundle.selectAll(".count").interrupt();

  var delta = [];
  var set = [];

  for (var i = 0; i<labels.length; i++){
    // Use an iife to simulate block scope (let not available)
    (function(){
      var j = i;
      set[j] = false;

      text[j].transition()
      .duration(10)
      .on("start", function repeat() {
        if (set[j] == false) {
          delta[j] = 0.01*((+this.getAttribute("c")) - (+dataset[labels[j]]));
          set[j] = true;
        }
        if (Math.abs((+this.getAttribute("c")) - (+dataset[labels[j]])) >= Math.abs(0.9*delta[j])){
          this.setAttribute("c",(+this.getAttribute("c")) - delta[j]);
          if (+this.getAttribute("c") < 0) {
            this.setAttribute("c",Math.abs(+this.getAttribute("c")));
          }
          bundle.active(this)
          .text((+this.getAttribute("c")).toFixed(0))
          .transition()
          .on("start", repeat);
        }
        else {
          bundle.interrupt(this);
        }
      });
    })();
  }
}

function update(t,e) {
  counts(data[t.id]);
  return;
}
</script>

<script>
// Async load video as per API
// https://developers.google.com/youtube/iframe_api_reference#Loading_a_Video_Player
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
var player;
var w = Math.min(560,document.querySelector("section").offsetWidth-25);
var h = 315/560*w;
function onYouTubeIframeAPIReady() {
  player = new YT.Player('player', {
    height: h,
    width: w,
    videoId: 'uW2r0jGNp8I',
  });
}
</script>
{% endcompress %}

{% endblock %}
