{% extends "peerinst/base.html" %}

{% load staticfiles compress i18n %}

{% block stylesheets %}
{% compress css inline %}
<style>
header {
  padding-right: 0px;
}
.site-content {
  margin-bottom: 80pt;
}
.icon {
  font-size:24pt;
}
.stats {
  display:block;
  margin:auto;
}
.mdc-chip-set {
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  margin-right:0pt;
  margin-left: auto;
}
.mdc-toolbar {
  padding:0pt;
}
.mdc-toolbar__row {
  min-height: 100px;
  background-image:radial-gradient(500px 500px,rgba(255,255,255,0.4),var(--mdc-theme-primary));
}
.mdc-typography--caption {
  text-align:center;
  margin-top:16px;
  font-size: 12pt;
  font-weight: 700;
}
.mdc-typography--display3 {
  padding-top:70px;
  padding-bottom:10px;
  top:70px;
  z-index: 2;
}
.embedded-video {
  display:block;
  margin:auto;
}
.white {
  background-color: white;
}
.footer_content {
  font-size:11pt;
  margin-top:10px;
  margin-left:20px;
  margin-right:20px;
}
.navtopright {
  position:absolute;
  font-size:11pt;
  top:4px;
  right:5px;
  text-align: right;
  color: white;
}
.navtopright a {
  padding-right:10px;
}
.navright {
  position:absolute;
  font-size:11pt;
  bottom:4px;
  right:20px;
  text-align: right;
}
.navright a {
  padding-left:20px;
  color: white;
}
.count {
  font-size: 32pt;
}
.school-logo {
  width:100%;
  filter: grayscale(1);
  max-width:200px;
  display: block;
  margin: auto;
  padding: 20px;
  cursor: pointer;
}
.school-logo:hover {
  filter: grayscale(0);
  transition: filter 500ms;
}
#scrollprompt {
  color: white;
  position:absolute;
  cursor: pointer;
  bottom:0px;
  left:50%;
}
#animation {
  display:block;
  margin:auto;
  overflow:visible;
}
.blurb {
  margin-bottom:40pt;
  text-align:justify;
}
.balloon {
  float:left;
  padding-top:10px;
  margin-right:12px;
}
.mdc-typography--body1 {
  font-size: 0.875rem;
}
.mdc-typography--headline {
  font-size: 1.3rem;
  line-height: 2rem;
}
.text-link {
  text-decoration: underline;
  text-decoration-color: var(--mdc-theme-primary);
}
.text-link:hover {
  color: var(--mdc-theme-primary);
  transition: color 500ms;
}
.fake-link {
  color: gray;
  cursor: default;
}
.pillar-text {
  margin-left:50px;
  margin-right:20px;
  margin-top:10px;
  display:none;
  font-style: italic;
  text-align:left;
}
blockquote {
  font-family: 'Cardo', serif;
  font-size:20pt;
  font-style:italic;
}
.timeline-axis line{
  stroke: gray;
  stroke-width: 1.5px;
}
.timeline-axis text {
  font-family: 'Montserrat', sans-serif;
  font-size: 11pt;
  fill: gray;
}
.timeline-axis path {
  stroke: gray;
  stroke-width: 1.5px;
}
.tooltip {
  position:absolute;
  width:100px;
  height:100px;
  background-color: blue;
}
@media (max-width:450px) {
  .mdc-typography--body1 {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }
  .mdc-typography--headline {
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .mdc-typography--display3 {
    padding-top:40px;
  }
  .mdc-typography--caption {
    margin-top: 10px;
    font-size:14px;
  }
  .navtopright {
    font-size:10pt;
    right:0px;
  }
  .count {
    font-size: 20pt;
  }
}
</style>
{% endcompress %}
{% endblock %}

{% block body %}
<script>
// Override default size of header to fill page based on window size
var styles = document.createElement('style');
document.head.appendChild(styles);
var styleSheet = styles.sheet;
styleSheet.insertRule(".mdc-toolbar--flexible {--mdc-toolbar-ratio-to-extend-flexible:"+window.innerHeight/64+" !important;}");
</script>

<header class="mdc-toolbar mdc-toolbar--fixed mdc-toolbar--flexible mdc-toolbar--waterfall">
  <div class="mdc-toolbar__row" style="padding-top:30px;">
    <svg id="animation" width=800 height=80></svg>
    <i id="scrollprompt" class="icon ion-arrow-down-b"></i>
    <span class="navtopright">
      <a href="{% url 'login' %}">{% trans 'Login' %}</a>
      <a href="{% url 'sign_up' %}">{% trans 'Signup' %}</a>
    </span>
    <!-- Language selector
    <span class="navright">
      <a href="">EN</a>
    </span>
    -->
  </div>
</header>

<main class="mdc-toolbar-fixed-adjust">
  <section>
    <h1 id="Features" class="mdc-typography--display3 mdc-theme--background">{% trans "Features" %}
      <svg class="underline" width=150 height=4></svg>
    </h1>

    <div class="blurb">
      <div class="balloon">
          <svg class="lightbulb" width=80 height=80></svg>
      </div>
      <p class="mdc-typography--headline">
        {% blocktrans %} <span style="font-family: 'Cardo', serif;font-style:italic;">my</span>DALITE is a free open-source web-based platform that promotes <strong>deep learning</strong>. Its pedagogical foundations are guided by social learning and based on learning principles and practical know-how. It engages students in cognitive tasks that include written self-explanation, comparison and evaluation of explanations produced by peers, and reflection. {% endblocktrans %}
      </p>
    </div>

    <div class="blurb">
      <div class="balloon">
          <svg class="peerinst" width=80 height=80></svg>
      </div>
      <p class="mdc-typography--headline">
        {% blocktrans %} <strong>Peer instruction</strong> is an active learning strategy popularized by Eric Mazur from Harvard University. It involves a sequence of steps that promotes critical thinking and discussion through the use of multiple choice conceptual questions.  It encourages students to first reflect on a conceptually challenging idea, vote, <strong>discuss with peers</strong>, and revote. {% endblocktrans %}
      </p>
    </div>

    <div class="blurb">
      <div class="balloon">
          <svg class="school" width=80 height=80></svg>
      </div>
      <p class="mdc-typography--headline">
        {% blocktrans %} With <span style="font-family: 'Cardo', serif;font-style:italic;">my</span>DALITE, teachers can use the same questions <strong>in class</strong> in polling mode, or assign questions as <strong>out-of-class</strong> homework through any learning management system.  Teachers can peruse content based on analytics and get reports for how their students are doing over time. {% endblocktrans %}
      </p>
    </div>

    <div class="blurb" style="margin-bottom:0px;">
      <div class="balloon">
          <svg class="activity" width=80 height=80></svg>
      </div>
      <p class="mdc-typography--headline">
        {% blocktrans %} <span style="font-family: 'Cardo', serif;font-style:italic;">my</span>DALITE has a <strong>growing database</strong> of questions in subjects ranging from chemistry to the humanities. It is funded by the SALTISE/S4 grant and aims to be the home of an open-source community offering high-impact high-quality learning resources <strong>built for teachers by teachers</strong>. If you don't find the type of content you are looking for, you can author new question items and contribute to the ever-growing community!  The current top disciplines are:{% endblocktrans %}
      </p>
    </div>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        {% for l in disciplines|first %}
        {% if l != "name" %}
        <div class="mdc-layout-grid__cell--span-2-phone mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-3-desktop">
          <svg class="stats" id="{{ l }}" width=150 height=150 style="overflow:visible;"></svg>
          <div class="mdc-typography--caption mdc-theme--primary">{{ l|capfirst }}</div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="mdc-chip-set mdc-chip-set--choice" data-mdc-auto-init="MDCChipSet">
      {% for d in disciplines %}
      <div id="{{ d.name }}" class="mdc-chip" onclick="update(this,event)" tabindex="0" data-mdc-auto-init="MDCChip">
        <div class="mdc-chip__checkmark">
          <svg class="mdc-chip__checkmark-svg" viewBox="-2 -3 30 30">
            <path class="mdc-chip__checkmark-path" fill="none" stroke="black"
            d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
          </svg>
        </div>
        <div class="mdc-chip__text">{{ d.name }}</div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section>
    <h1 class="mdc-typography--display3 mdc-theme--background">{{ 'A guided tour'|title }}
      <svg class="underline" width=150 height=4></svg>
    </h1>
    <div id="player" class="embedded-video"></div>
  </section>

  <section>
    <h1 class="mdc-typography--display3  mdc-theme--background">{% trans "Interactive History" %}
      <svg class="underline" width=150 height=4></svg>
    </h1>

    <div class="blurb">
      <svg id="history" width=350 height=450 style="overflow:visible;"></svg>
    </div>

    <!--
    <blockquote class="mdc-theme--primary">{% blocktrans %}This research has shown my<span style="font-family: 'Montserrat', sans-serif;font-style:normal;">DALITE</span> to be an effective tool for supporting deep learning.{% endblocktrans %}</blockquote>
    -->

  </section>

  <section>
    <h1 class="mdc-typography--display3 mdc-theme--background">SALTISE/S4
      <svg class="underline" width=150 height=4></svg>
    </h1>

    <div class="blurb">
      <p class="mdc-typography--headline" style="text-align:justify;">
        {% blocktrans %}
        <a class="text-link" href="http://www.saltise.ca">SALTISE</a> is a learning community that fosters the research and development of tools and resources for <strong>pedagogical innovation</strong>.  It brings together educators (researchers and practitioners) and professional development personnel across the province of Quebec, and welcomes national and international partnerships.
        {% endblocktrans %}
      </p>
    </div>

    <div class="blurb">
      <p class="mdc-typography--headline">
        {% blocktrans %} The SALTISE/S4 project is a major five-year multi-institution infrastructure grant hosted at Dawson College. The mandate is to develop a <strong>data-driven platform</strong> founded on three pillars: {% endblocktrans %}
      </p>

      <ul class="mdc-typography--headline">
        <li style="margin-bottom:10pt;"><i class="material-icons md-36 mdc-theme--primary" style="transform: translateY(7pt);">looks_one</i> <span id="teachers" class="text-link fake-link pillars">Teachers</span>
        <div id="for-teachers" class="mdc-typography--body1 pillar-text">
          {% trans 'A place where the pedagogical strategies and artefacts teachers produce can be hosted and showcased to a network of colleagues, and can be iteratively improved based on the data associated with the different contexts in which they are used.' %}
        </div>
        </li>
        <li style="margin-bottom:10pt;"><i class="material-icons md-36 mdc-theme--primary" style="transform: translateY(7pt);">looks_two</i> <span id="researchers" class="text-link fake-link pillars">Researchers</span>
          <div id="for-researchers" class="mdc-typography--body1 pillar-text">
            {% trans 'The platform will enable learning science researchers to engage directly and seamlessly with practitioners to support the development of effective pedagogical practices and learning processes, and ultimately bring learning science to the classroom faster.' %}
          </div>
        </li>
        <li style="margin-bottom:10pt;"><i class="material-icons md-36 mdc-theme--primary" style="transform: translateY(7pt);">looks_3</i> <span id="students" class="text-link fake-link pillars">Students</span>
          <div id="for-students" class="mdc-typography--body1 pillar-text">
            {% trans 'This cloud-hosted service will put students at the heart of the research-design loop.  As we build novel learning resources, we provide a persistent home where it is possible to monitor how student knowldge evolves across years, instead of one semester.' %}
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section>
    <h1 class="mdc-typography--display3 mdc-theme--background">{% trans "Partners" %}
      <svg class="underline" width=150 height=4></svg>
    </h1>

    <ul class="mdc-image-list partner-list">
      <li class="mdc-image-list__item">
        <a href="http://www.dawsoncollege.qc.ca"><img class="mdc-image-list__image school-logo" src="{% static 'peerinst/img/Dawson-logo.png' %}"></a>
      </li>
      <li class="mdc-image-list__item">
        <a href="http://www.johnabbott.qc.ca"><img class="mdc-image-list__image school-logo" src="{% static 'peerinst/img/JAC-logo-2.gif' %}"></a>
      </li>
      <li class="mdc-image-list__item">
        <a href="http://www.vaniercollege.qc.ca"><img class="mdc-image-list__image school-logo" src="{% static 'peerinst/img/Vanier-logo.png' %}"></a>
      </li>

      <li class="mdc-image-list__item">
        <a href="http://http://www.education.gouv.qc.ca/ministere-de-leducation-et-de-lenseignement-superieur/"><img class="mdc-image-list__image school-logo" src="{% static 'peerinst/img/MESR-logo.png' %}"></a>
      </li>
    </ul>

  </section>
</main>
{% endblock %}

{% block footer %}
<footer>
  <div class="wrapper">
    <div class="footer_content">
      &copy 2018 SALTISE/S4
    </div>
    <div class="footer_content" style="text-align:right;">
      <a href="mailto:info@saltise.ca"><i class="icon ion-ios-email"></i></a>
      <a href="https://www.saltise.ca"><i class="icon ion-earth"></i></a>
      <a href="https://www.facebook.com/SALTISE/"><i class="icon ion-social-facebook"></i></a>
      <a href="https://twitter.com/saltise"><i class="icon ion-social-twitter"></i></a>
      <a href="https://github.com/SALTISES4/dalite-ng"><i class="icon ion-social-github"></i></a>
    </div>
  </div>
</footer>
{% endblock %}

{% block scripts %}
{% compress js inline %}
<script>
// MDC binds
var toolbar = bundle.toolbar.MDCToolbar.attachTo(document.querySelector('.mdc-toolbar'));
toolbar.fixedAdjustElement = document.querySelector('.mdc-toolbar-fixed-adjust');

var arrow = document.getElementById('scrollprompt');
var flexibleExpansionRatio = 1.0;
toolbar.listen('MDCToolbar:change', function(evt) {
  flexibleExpansionRatio = evt.detail.flexibleExpansionRatio;
  arrow.style.opacity = flexibleExpansionRatio;
});
arrow.onclick = function() {
  document.querySelector("#Features").scrollIntoView({block: "center", inline: "center", behavior: "smooth"});
}
</script>

<script>
// Animations
function logo(){
  'use strict';

  // Waves
  var svg = bundle.select("#animation");
  svg.attr("width",document.body.offsetWidth);

  var width = +svg.attr("width"),
  height = +svg.attr("height"),
  margin = {top:1,bottom:1,left:1,right:1};

  var innerWidth = width-margin.left-margin.right,
  innerHeight = height-margin.top-margin.bottom;

  svg.selectAll("g").remove();

  var g = svg.append("g").attr("transform","translate("+margin.left+","+(margin.top+innerHeight/2)+")");

  var x = bundle.scaleLinear().domain([0,2*Math.PI]).range([0,innerWidth]),
  y = bundle.scaleLinear().domain([-1,1]).range([-innerHeight/2,innerHeight/2]);

  var xAxis = g.append("g").style("opacity",0).call(bundle.axisBottom(x)),
  yAxis = g.append("g").style("opacity",0).call(bundle.axisLeft(y));

  var xPoints = bundle.range(0,2*Math.PI+0.01,(2*Math.PI/5));

  function f(v,x,t,a) {
    var factor;
    if(window.matchMedia("(min-width:450px)").matches){
      factor = Math.min(Math.max(10*flexibleExpansionRatio,2),4);
    } else {
      factor = 1;
    }
    return factor*a*Math.sin(x-0.5*v*t);
  }

  function animation() {
    'use strict';

    var dt = 0;
    var offset1 = null;
    var offset2 = null;
    var offset3 = null;
    var t0 = bundle.now();
    var t = t0;

    var a1 = 0.5;
    var a2 = 0.3;
    var a3 = 0.4;

    var v1 = 0.001;
    var v2 = 0.0018;
    var v3 = -0.001;

    var y1 = 0;
    var y2 = -0.1;
    var y3 = +0.05;

    var line1 = bundle.line()
    .x(function(d) { return x(d); })
    .y(function(d) { return y(f(v1,d,t-dt-offset1,a1)+y1); })
    .curve(bundle.curveNatural);

    var line2 = bundle.line()
    .x(function(d) { return x(d); })
    .y(function(d) { return y(f(v2,d,t-dt-offset2,a2)+y2); })
    .curve(bundle.curveNatural);

    var line3 = bundle.line()
    .x(function(d) { return x(d); })
    .y(function(d) { return y(f(v3,d,t-dt-offset3,a3)+y3); })
    .curve(bundle.curveNatural);

    var intersection1 = bundle.area()
    .x(line1.x())
    .y0(y(0))
    .y1(line1.y())
    .curve(bundle.curveNatural);

    var intersection2 = bundle.area()
    .x0(line1.x())
    .y0(line1.y())
    .x1(line2.x())
    .y1(line2.y())
    .curve(bundle.curveNatural);

    var intersection3 = bundle.area()
    .x0(line1.x())
    .y0(line1.y())
    .x1(line3.x())
    .y1(line3.y())
    .curve(bundle.curveNatural);

    var one = g.append("path")
    .datum(xPoints)
    .attr("class","intersection")
    .attr("fill",bundle.rgb(244,244,244,0.3))
    .attr("opacity",0)
    .attr("d",intersection1)
    .transition()
    .duration(1000)
    .attr("opacity",1);

    if (window.matchMedia("(min-width: 450px)").matches) {
      one.transition()
      .duration(50)
      .on("start", function repeat() {
        if (offset1 == null) {
          offset1 = bundle.now()-t0;
        }
        if (flexibleExpansionRatio>0.01) {
          t = bundle.now();
          bundle.active(this)
          .attr("d",intersection1)
          .transition()
          .on("start", repeat);
        }
        else {
          dt += bundle.now() - t;
          t = bundle.now();
          bundle.active(this)
          .transition()
          .on("start", repeat);
        }
      });
    }

    var two = g.append("path")
    .datum(xPoints)
    .attr("class","intersection")
    .attr("fill",bundle.rgb(244,244,244,0.5))
    .attr("opacity",0)
    .attr("d",intersection2)
    .transition()
    .duration(1000)
    .attr("opacity",1);

    if (window.matchMedia("(min-width: 450px)").matches) {
      two.transition()
      .duration(50)
      .on("start", function repeat() {
        if (offset2 == null) {
          offset2 = bundle.now()-t0;
        }
        if (flexibleExpansionRatio>0.01) {
          bundle.active(this)
          .attr("d",intersection2)
          .transition()
          .on("start", repeat);
        }
        else {
          bundle.active(this)
          .transition()
          .on("start", repeat);
        }
      });
    }

    var three = g.append("path")
    .datum(xPoints)
    .attr("class","intersection")
    .attr("fill",bundle.rgb(0,66,102,0.5))
    .attr("opacity",0)
    .attr("d",intersection3)
    .transition()
    .duration(1000)
    .attr("opacity",1);

    if (window.matchMedia("(min-width: 450px)").matches) {
      three.transition()
      .duration(50)
      .on("start", function repeat() {
        if (offset3 == null) {
          offset3 = bundle.now()-t0;
        }
        if (flexibleExpansionRatio>0.01) {
          bundle.active(this)
          .attr("d",intersection3)
          .transition()
          .on("start", repeat);
        }
        else {
          bundle.active(this)
          .transition()
          .on("start", repeat);
        }
      });
    }

    title();
  }

  function title(){
    'use strict';

    bundle.selectAll(".title").remove();

    g.append("text")
    .attr("class","title")
    .attr("x",margin.left+innerWidth/2)
    .attr("dx","25pt")
    .attr("y",y(0))
    .attr("fill","white")
    .attr("text-anchor","middle")
    .style("font-size","40pt")
    .style("cursor","pointer")
    .text("DALITE")
    .on("click",function(){
      window.location="{% url 'login' %}"
    });

    g.append("text")
    .attr("class","title")
    .attr("x",margin.left+innerWidth/2)
    .attr("dx","-70pt")
    .attr("y",y(0))
    .attr("fill","white")
    .attr("text-anchor","middle")
    .style("font-family","Cardo, serif")
    .style("font-style",'italic')
    .style("font-size","40pt")
    .style("cursor","pointer")
    .text("my")
    .on("click",function(){
      window.location="{% url 'login' %}"
    });

    var dx = 0;
    if (!window.matchMedia("(min-width:350px)").matches) {
      dx = -20;
    }

    g.append("text")
    .attr("class","title")
    .attr("x",margin.left+innerWidth/2+175)
    .attr("y",y(0))
    .attr("dx",-110+dx)
    .attr("dy","16pt")
    .attr("fill","white")
    .attr("text-anchor","end")
    .style("font-family","Cardo, serif")
    .style("font-style",'italic')
    .style("font-size","14pt")
    .text("by")

    g.append("text")
    .attr("class","title")
    .attr("x",margin.left+innerWidth/2+145+dx)
    .attr("y",y(0))
    .attr("dx","20pt")
    .attr("dy","16pt")
    .attr("fill","white")
    .attr("text-anchor","end")
    .style("font-size","14pt")
    .text("SALTISE/S4");
  }

  title();
  if (document.readyState === 'complete') {
    animation();
  }
  else {
    window.onload = animation;
  }
}

logo();

window.addEventListener("resize", logo);
</script>

<script>
// Counts
data = {{ json|safe }};
labels = bundle.keys(data['All']);
var svg = [];
var width = [];
var height = [];
var g = [];
var text = [];

function drawCounts() {
  bundle.selectAll(".count-background").remove();
  bundle.selectAll(".count").remove();

  for (var i=0; i<labels.length; i++){
    svg[i] =  bundle.select("#"+labels[i]);

    var dy;
    if (window.matchMedia("(max-width:450px)").matches) {
      svg[i].attr('width',90);
      svg[i].attr('height',90);
      dy = 12;
    } else {
      svg[i].attr('width',140);
      svg[i].attr('height',140);
      dy = 20;
    }

    width[i] = +svg[i].attr('width');
    height[i] = +svg[i].attr('height');

    g[i] = svg[i].append("g")
    .attr("transform","translate(" + width[i]/2 + "," + height[i]/2 + ")");

    /*let gradientR = g[i].append("radialGradient")
    .attr("id",'radialGradient')
    .attr('x1',0)
    .attr('x2',1)
    .attr('y1',0)
    .attr('y2',0);

    gradientR.append("stop")
    .attr("offset",'0%')
    .attr('stop-color','rgba(255,255,255,0.1)');

    gradientR.append("stop")
    .attr("offset",'100%')
    .attr('stop-color','var(--mdc-theme-primary)');*/

    g[i].append("circle")
    .attr("class","count-background")
    .attr("cx",0)
    .attr("cy",0)
    .attr("r",width[i]/2)
    .attr("fill","white");

    g[i].append("circle")
    .attr("class","count-background")
    .attr("cx",0)
    .attr("cy",0)
    .attr("r",width[i]/2)
    .attr("opacity",0.2)
    .attr("fill","var(--mdc-theme-primary)");

    g[i].append("circle")
    .attr("class","count-background")
    .attr("cx",0)
    .attr("cy",0)
    .attr("r",width[i]/2)
    .attr("stroke","var(--mdc-theme-primary)")
    .attr("stroke-width",1.5)
    .attr("fill",'none');

    /*g[i].append("circle")
    .attr("class","count-background")
    .attr("cx",0)
    .attr("cy",0)
    .attr("r",80)
    .attr("fill","url(#radialGradient)");*/

    text[i] = g[i].append("text")
    .attr("class","count")
    .attr("c",data['All'][labels[i]])
    .attr("x",0)
    .attr("y",0)
    .attr("dy",dy)
    .attr("text-anchor","middle")
    .attr("fill","var(--mdc-theme-primary)")
    .text(data['All'][labels[i]]);
  }
}

drawCounts();

window.addEventListener("resize", drawCounts);

function counts(dataset) {

  // Update counts for new discipline
  bundle.selectAll(".count").interrupt();

  var delta = [];
  var set = [];

  for (var i = 0; i<labels.length; i++){
    // Use an iife to simulate block scope (let not available)
    (function(){
      var j = i;
      set[j] = false;

      text[j].transition()
      .duration(10)
      .on("start", function repeat() {
        if (set[j] == false) {
          delta[j] = 0.01*((+this.getAttribute("c")) - (+dataset[labels[j]]));
          set[j] = true;
        }
        if (Math.abs((+this.getAttribute("c")) - (+dataset[labels[j]])) >= Math.abs(0.9*delta[j])){
          this.setAttribute("c",(+this.getAttribute("c")) - delta[j]);
          if (+this.getAttribute("c") < 0) {
            this.setAttribute("c",Math.abs(+this.getAttribute("c")));
          }
          bundle.active(this)
          .text((+this.getAttribute("c")).toFixed(0))
          .transition()
          .on("start", repeat);
        }
        else {
          bundle.interrupt(this);
        }
      });
    })();
  }
}

function update(t,e) {
  counts(data[t.id]);
  return;
}
</script>

<script>
// Draw icons for Features section
var peerinst = bundle.select('.peerinst');

var g = peerinst.append("g")
.attr("transform","translate(" + peerinst.attr('width')/2 + "," + peerinst.attr('height')/2 + ")");

g.append('circle')
  .attr('cx', 0)
  .attr('cy', 0)
  .attr('r', 40)
  .style('opacity', 0.8)
  .attr('fill', 'var(--mdc-theme-primary)');

g.append('text')
  .attr('class', 'material-icons md-36')
  .attr('id', 'chat_right')
  .attr('x', 0)
  .attr('dx', -10)
  .attr('y', 0)
  .attr('dy', 15)
  .attr('text-anchor', 'middle')
  .attr('fill', 'white')
  .style('opacity', 0)
  .text('chat_bubble_outline')
  .transition()
  .duration(1000)
  .delay(Math.random()*500+500)
  .on('start', function repeat() {
    bundle.active(this)
    .style('opacity', function() {
      if (this.style.opacity > 0) {
        return 0;
      } else {
        return 1;
      }
    })
    .transition()
    .delay(Math.random()*500+500)
    .on("start", repeat);
  });

g.append('text')
  .attr('class', 'material-icons md-36')
  .attr('id', 'chat_left')
  .attr('x', 0)
  .attr('dx', -10)
  .attr('y', 0)
  .attr('dy', 21)
  .attr('transform', 'scale(-1,1)')
  .attr('text-anchor', 'middle')
  .attr('fill', 'white')
  .style('opacity', 0)
  .text('chat_bubble_outline')
  .transition()
  .duration(1000)
  .delay(Math.random()*500+200)
  .on('start', function repeat() {
    bundle.active(this)
    .style('opacity', function() {
      if (this.style.opacity > 0) {
        return 0;
      } else {
        return 1;
      }
    })
    .transition()
    .delay(Math.random()*500+200)
    .on("start", repeat);
  });

  var school = bundle.select('.school');

  var g = school.append("g")
  .attr("transform","translate(" + school.attr('width')/2 + "," + school.attr('height')/2 + ")");

  g.append('circle')
    .attr('cx', 0)
    .attr('cy', 0)
    .attr('r', 40)
    .style('opacity', 0.8)
    .attr('fill', 'var(--mdc-theme-primary)');

  g.append('text')
    .attr('class', 'material-icons md-36')
    .attr('x', 0)
    .attr('dx', -15)
    .attr('y', 0)
    .attr('dy', 11)
    .attr('text-anchor', 'middle')
    .attr('fill', 'white')
    .text('school');

  g.append('text')
    .attr('class', 'material-icons md-36')
    .attr('x', 0)
    .attr('dx', -15)
    .attr('y', 0)
    .attr('dy', 25)
    .attr('transform', 'scale(-1,1)')
    .attr('text-anchor', 'middle')
    .attr('fill', 'white')
    .text('home');

var lightbulb = bundle.select('.lightbulb');

var g = lightbulb.append("g")
.attr("transform","translate(" + lightbulb.attr('width')/2 + "," + lightbulb.attr('height')/2 + ")");

g.append('circle')
  .attr('cx', 0)
  .attr('cy', 0)
  .attr('r', 40)
  .style('opacity', 0.8)
  .attr('fill', 'var(--mdc-theme-primary)');

g.append('text')
  .attr('class', 'material-icons md-48')
  .attr('x', 0)
  .attr('y', 0)
  .attr('dy', 24)
  .attr('text-anchor', 'middle')
  .attr('fill', 'white')
  .text('lightbulb_outline');

  var activity = bundle.select('.activity');

  var g = activity.append("g")
  .attr("transform","translate(" + activity.attr('width')/2 + "," + activity.attr('height')/2 + ")");

  g.append('circle')
    .attr('cx', 0)
    .attr('cy', 0)
    .attr('r', 40)
    .style('opacity', 0.8)
    .attr('fill', 'var(--mdc-theme-primary)');

  g.append('text')
    .attr('class', 'material-icons md-60')
    .attr('x', 0)
    .attr('y', 0)
    .attr('dy', 30)
    .attr('text-anchor', 'middle')
    .attr('fill', 'white')
    .text('trending_up');
</script>

<script>
// Hide/show pillar text
[].forEach.call(document.querySelectorAll(".pillars"),
  function(el) {
    var d = document.querySelector("#for-"+el.id)
    el.onmouseover = function() {
      d.style.display = 'block';
    }
    el.onmouseout = function() {
      d.style.display = 'none';
    }
})
</script>

<script>
// History
function timeline() {
  'use strict';


  var timelineData = {
    "events" : [
      { "year" : "2008",
        "type"  : "milestone",
        "shortDesc" : "Initial co-design development",
        "offset" : 0,
        "note" : "Teachers from Dawson College, John Abbott College, and Vanier College collaborated with Jim Slotta and the Ontario Institute of Studies in Education to design the tool" },
      { "year" : "2010",
        "type"  : "software",
        "shortDesc" : "First major release",
        "offset" : 0,
        "note" : "Beta version of PHP app for Asynchronous Peer Instruction (AsPI) deployed" },
      { "year" : "2013.7",
        "type"  : "publication",
        "shortDesc" : "First major study",
        "offset" : 0,
        "note" : "\'Quasi-experimental study of effectiveness of AsPI with five physics teachers across three colleges\'" },
      { "year" : "2014.5",
        "type"  : "publication",
        "shortDesc" : "11th Int. Conference on LS",
        "offset" : -17,
        "note" : "Charles, E.S, Whittaker, C., Lasry, N., Dugdale, M., Lenton, K., Bhatnagar, S., Guillemette, J. \'Taking DALITE To the Next Level: What have we learned from a web-based peer instruction application\'.  Proceedings of the 11th International Conference of the Learning Sciences (ICLS 2014), June 23-27, 2014, Boulder, US.",
        "link" : "https://www.isls.org/icls/2014/Proceedings.html" },
      { "year" : "2015",
        "type"  : "publication",
        "shortDesc" : "Colloque de l’ARC 2015",
        "offset" : -23,
        "note" : "Charles, E.S, Lasry, N., Whittaker, C., Dugdale, M., Lenton, K., Bhatnagar, S., \'Les retombées de DALITE\'.  27 mai 2015, Rimouski, Québec.",
        "link" : "https://dspacecdc-test.inlibro.net/xmlui/bitstream/handle/11515/34789/CHARLES-E-et-coll_2015_Affiche.pdf?sequence=1&isAllowed=y" },
      { "year" : "2015.2",
        "type"  : "software",
        "shortDesc" : "Second major release",
        "offset" : -18,
        "note" : "Completely re-written by HarvardX as an open-source LTI compliant tool" },
      { "year" : "2015.4",
        "type"  : "publication",
        "shortDesc" : "CSCL 2015 Conference",
        "offset" : -12,
        "note" : "Charles, E.S., Lasry N., Whittaker,C., Dugdale,M., Lenton,K., Bhatnagar, S., Guillemette, J., \'Beyond and Within Classroom Walls: Designing Principled Pedagogical Tools for Student and Faculty Uptake\'. Proceedings of the 11th International Conference on Computer Collaborative Learning, June 7-11, 2015, Gothenburg, Sweden. ",
        "link" : "https://www.isls.org/cscl2015/papers/MC-0280-FullPaper-Charles.pdf" },
      { "year" : "2015.5",
        "type"  : "publication",
        "shortDesc" : "8th Int. Conference on EDM",
        "offset" : -2,
        "note" : "Bhatnagar, S., Desmarais, M.C., Whittaker C., Lasry N., Dugdale M., Lenton K., Charles E., \'An analysis of peer-written and peer-reviewed rationales from an asynchronous peer-instruction learning environment\'. 2015 International Conference on Educational Data Mining, June 26-29, Madrid, Spain.",
        "link" : "https://files.eric.ed.gov/fulltext/ED560883.pdf" },
      { "year" : "2015.8",
        "type"  : "use",
        "shortDesc" : "HarvardX MOOC on Justice",
        "offset" : 1,
        "note" : "\'Justice, one of the most famous courses taught at Harvard College, is an introduction to moral and political philosophy, offering an opportunity to discuss contemporary dilemmas and controversies\'",
        "link" : "https://www.edx.org/course/justice-harvardx-er22-1x-2" },
      { "year" : "2016.25",
        "type"  : "use",
        "shortDesc" : "MITx physics MOOC",
        "offset" : -2,
        "note" : "\'This is a college-level Introductory Newtonian Mechanics course designed for both students and teachers\'",
        "link" : "https://www.edx.org/course/advanced-introductory-classical-mitx-8-mechcx-0" },
      { "year" : "2016.7",
        "type"  : "use",
        "shortDesc" : "McGillx MOOC on Injury Prevention",
        "offset" : -5,
        "note" : "\'Learn from leading global experts about the benefits of physical activity and how to prevent and treat injuries\'",
        "link" : "https://www.edx.org/course/body-matters-why-exercise-makes-you-mcgillx-body101x-0" },
      { "year" : "2016.85",
        "type"  : "publication",
        "shortDesc" : "EC-TEL 2016 Conference",
        "offset" : 3,
        "note" : "Bhatnagar, S., Lasry, N., Desmarais, M.C.,Charles, E.S., \'DALITE: Asynchronous Peer Instruction for MOOCs\'. 11th European Conference on Technology Enhanced Learning Adaptive and Adaptable Learning (EC-TEL 2016), September 13-16 2016, Lyon, France.",
        "link" : "http://www.professeurs.polymtl.ca/michel.desmarais/Publications-Michel/EC-TEL_2016_paper_201.pdf" },
      { "year" : "2017",
        "type"  : "use",
        "shortDesc" : "CalTech MOOC on Quantum Cryptography",
        "offset" : 11,
        "note" : "\'Learn how quantum communication provides security that is guaranteed by the laws of nature\'",
        "link" : "https://www.edx.org/course/quantum-cryptography-caltechx-delftx-qucryptox-0" },
      { "year" : "2018.42",
        "type" : "software",
        "shortDesc" : "Third major release",
        "offset" : 0,
        "note" : "Extended from an LTI tool to a modern web app in preparation for widespread use by practitioners"},
      { "year" : "2018.75",
        "type" : "event",
        "shortDesc" : "New feature development",
        "offset" : 0,
        "note" : "Content authoring, better analytics, stand-alone functionality outside of an LTI environment, and more..."},
  ]
};


  var svg = bundle.select("#history");

  svg.attr("width",document.querySelector("section").offsetWidth);

  var width = +svg.attr("width"),
  height = +svg.attr("height"),
  margin = {top:20,bottom:1,left:1,right:1};

  var innerWidth = width-margin.left-margin.right,
  innerHeight = height-margin.top-margin.bottom;

  svg.selectAll("g").remove();

  var g = svg.append("g").attr("transform","translate("+(margin.left+0.15*innerWidth)+","+(margin.top+innerHeight/2)+")");

  var y = bundle.scaleLinear().domain([2008,2019]).range([-innerHeight/2,innerHeight/2]);

  var c = bundle.scaleOrdinal().domain(['milestone', 'software', 'use', 'publication']).range(['green','red','var(--mdc-theme-primary)','var(--mdc-theme-secondary)']);

  var yAxis = g.append("g")
    .attr('class', 'timeline-axis')
    .call(
      bundle.axisLeft(y).tickSize(15).tickFormat(bundle.format('.0f'))
      );



g.append('text')
  .attr('x', 0)
  .attr('dx', 20)
  .attr('y', y(2007.4))
  .attr('dy', 3)
  .attr('font-size', '7pt')
  .attr('fill', 'gray')
  .text('Click/hover to expand');

g.append('path')
  .attr('stroke', 'gray')
  .attr('fill', 'none')
  .attr('stroke-width', '0.5px')
  .attr('d', function(d) {
    var path = bundle.path();
    path.moveTo(17, y(2007.4));
    path.quadraticCurveTo(2, y(2007.5), 0, y(2008));
    return path;
  });

  var links = g.append('g')
    .selectAll('.links')
    .data(timelineData.events)
    .enter().append('path')
    .attr('class', 'links')
    .attr('stroke', 'gray')
    .attr('stroke-width', '0.5px')
    .attr('fill', 'none')
    .attr('d', function(d) {
      var path = bundle.path();
      if (+d.offset != 0) {
        path.moveTo(0, y(d.year));
        path.lineTo(17, y(d.year)+d.offset);
      }
      return path;
    });

  var events = g.append('g')
    .selectAll('circle')
    .data(timelineData.events)
    .enter().append('circle')
    .attr('cx', 0)
    .attr('cy', function(d) { return y(d.year); })
    .attr('r', 5)
    .attr('fill', 'white')
    .attr('stroke', function(d) { return c(d.type); });

    var descriptions = g.append('g')
      .selectAll('.description')
      .data(timelineData.events)
      .enter().append('text')
      .attr('class', 'description')
      .attr('id', function(d) { return "description_"+d.year.replace('.','_'); })
      .attr('x', 21)
      .attr('y', function(d) { return y(d.year); })
      .attr('dy', function(d) { return 25+d.offset; })
      .attr('text-anchor', 'start')
      .style('font-size', '10pt')
      .style('opacity', 0)
      .attr('fill', function(d) { return c(d.type); })
      .text(function(d) {return (d.note);})
      .call(bundle.wrap, 0.7*innerWidth);

  var notes = g.append('g')
    .selectAll('.timelineLabel')
    .data(timelineData.events)
    .enter().append('text')
    .attr('class', 'timelineLabel')
    .attr('id', function(d) { return "label_"+d.year.replace('.','_'); })
    .attr('x', 0)
    .attr('dx', 20)
    .attr('y', function(d) { return y(d.year); })
    .attr('dy', function(d) { return 5+d.offset; })
    .attr('text-anchor', 'start')
    .style('cursor', function(d) { if (d.link) { return 'pointer'; } })
    .style('font-size', '9pt')
    .attr('fill', function(d) { return c(d.type); })
    .text(function(d) {return d.shortDesc;});

  notes.on('click', function(d) {
    if (d.link) {
      location = d.link;
    }
  })

  events.on('mouseover', function(d) {
    var exclude = "label_"+d.year.replace('.','_');
    bundle.selectAll('.timelineLabel').filter(function(d){return this.getAttribute('id') != exclude})
    .transition()
    .duration(100)
    .style('opacity', 0.05);

    bundle.select('#'+exclude)
    .transition()
    .duration(500)
    .style('opacity', 1)
    .style('font-size', '15pt');

    var desc = "description_"+d.year.replace('.','_');
    bundle.select('#'+desc)
    .transition()
    .duration(500)
    .delay(150)
    .style('opacity', 1);

    bundle.select(this)
      .transition()
      .duration(500)
      .attr('r',10);
  })

  events.on('mouseout', function(d) {
    bundle.selectAll('.timelineLabel')
    .transition()
    .duration(200)
    .style('font-size', '9pt')
    .style('opacity', 1);

    bundle.selectAll('.description')
    .transition()
    .duration(200)
    .style('opacity', 0);

    bundle.select(this)
    .transition()
    .duration(200)
    .attr('r',5);

  })
}

timeline();

window.addEventListener('resize', timeline);

</script>

<script>
// Async load video as per API
// https://developers.google.com/youtube/iframe_api_reference#Loading_a_Video_Player
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
var player;
var w = Math.min(700,document.querySelector("section").offsetWidth-25);
var h = 315/560*w;
function onYouTubeIframeAPIReady() {
  player = new YT.Player('player', {
    height: h,
    width: w,
    videoId: 'uW2r0jGNp8I',
  });
}
window.addEventListener("resize", function() {
  var yt = document.querySelector('#player');
  var w = Math.min(700,document.querySelector("section").offsetWidth-25);
  yt.setAttribute("width",w);
  yt.setAttribute("height",315/560*w);
})
</script>
{% endcompress %}
{% endblock %}
