{% extends "peerinst/base.html" %}

{% block body %}

<h1>Login</h1>

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  {{ form.username.label_tag }}<br>
  {{ form.username }}
</div>
<div>
  {{ form.password.label_tag }}<br>
  {{ form.password }}
</div>
<div>
  <input type="submit" value="Login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>

</form>

<br>
<div class="admin-link" style="margin-bottom:0pt;"><a href="{% url 'password_reset' %}">Forgot your password?</a></div>

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
  please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}



{% endblock %}
