{% extends "peerinst/base.html" %}

{% load add_class %}

{% load i18n static %}

{% block body %}

<h1>{{ title }}</h1>

{% block content %}

<p>{% trans "Please enter your old password, for security's sake, and then your new password twice so we can verify you typed it correctly." %}</p>

<form method="post" id="password_change_form">
  {% csrf_token %}
  <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
    {{ form.old_password|add_class:"mdc-text-field__input" }}<br>
    {{ form.old_password.label_tag|add_class:"mdc-floating-label"|cut:":" }}
    <div class="mdc-notched-outline">
      <svg>
        <path class="mdc-notched-outline__path"/>
      </svg>
    </div>
    <div class="mdc-notched-outline__idle"></div>
  </div>
  {{ form.errors.old_password }}
  <br>
  <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
    {{ form.new_password1|add_class:"mdc-text-field__input" }}<br>
    {{ form.new_password1.label_tag|add_class:"mdc-floating-label"|cut:":" }}
    <div class="mdc-notched-outline">
      <svg>
        <path class="mdc-notched-outline__path"/>
      </svg>
    </div>
    <div class="mdc-notched-outline__idle"></div>
  </div>
  {{ form.errors.new_password1 }}
  <br>
  <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
    {{ form.new_password2|add_class:"mdc-text-field__input" }}<br>
    {{ form.new_password2.label_tag|add_class:"mdc-floating-label"|cut:":" }}
    <div class="mdc-notched-outline">
      <svg>
        <path class="mdc-notched-outline__path"/>
      </svg>
    </div>
    <div class="mdc-notched-outline__idle"></div>
  </div>
  {{ form.errors.new_password2 }}
  <br>
  <div>
    <input class="mdc-button mdc-button--raised mdc-ripple-surface" type="submit" value="{% trans 'Change password' %}" data-mdc-auto-init="MDCRipple"/>
  </div>
</form>

{% endblock %}

{% endblock %}
