{% load i18n %}

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400">
  <style>
  a {
    color: #54c0db;
  }
  </style>
</head>

<body style="padding:20pt;background-color: #f4f4f4;font-family: 'Montserrat', sans-serif;font-weight: 400;font-size: 11pt;color: #004266;">

  <h1 style="color: #54c0db;font-size:3.5rem;">{% trans 'Password reset' %}</h1>

  {% blocktrans %}

  <p>You're receiving this email because you requested a password reset for your user account at {{ site_name }}.</p>

  {% endblocktrans %}

  <p>{% trans "Please go to the following page and choose a new password:" %}</p>

  {% block reset_link %}
  {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
  {% endblock %}

  <p>{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}</p>

  <p>{% trans "Thanks for using our site!" %}</p>

  <p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>

</body>
