{% extends 'registration/email_base.html' %}

{% load i18n %}

{% block body %}

<h1>{% trans 'Password reset' %}</h1>

<p>{% trans "You're receiving this email because you requested a password reset for your user account at " %}{{ site_name }}.</p>

<p>{% trans "Please go to the following page and choose a new password:" %}</p>

{% block reset_link %}
https://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

<p>{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}</p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>

{% endblock %}
