{% extends "peerinst/base.html" %}

{% load add_class i18n static %}

{% block body %}

<main>
<section>
  <h1 class="mdc-typography--display3" style="position:sticky;">{{title|title}}
    <svg class="underline" width=150 height=4></svg>
  </h1>

  {% block content %}

  {% if validlink %}

  <p>{% trans "Please enter your new password twice so we can verify you typed it correctly." %}</p>

  {{ form.non_field_errors }}

  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
        {{ field|add_class:"mdc-text-field__input" }}
        {{ field.label_tag|add_class:"mdc-floating-label"|cut:":" }}
        <div class="mdc-notched-outline">
          <svg>
            <path class="mdc-notched-outline__path"/>
          </svg>
        </div>
        <div class="mdc-notched-outline__idle"></div>
      </div>
      <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="true">
        {{ field.help_text|safe }}
      </p>
      {{ field.errors }}
    {% endfor %}
    <div>
      <input class="mdc-button mdc-button--raised" type="submit" value="{% trans 'Set password' %}"/>
    </div>
  </form>

  {% else %}

  <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

  {% endif %}

  {% endblock %}
</section>
</main>

{% endblock %}
