{% extends 'peerinst/base.html' %}

{% load add_class %}

{% block body %}

<main>
<section>
  <h1 class="mdc-typography--display3" style="position:sticky;">Password Reset
    <svg class="underline" width=150 height=4></svg>
  </h1>

  <p>Enter your email address below and we will send you a link to reset your password.</p>

  {{ form.non_field_errors }}

  <form method="post">
    {% csrf_token %}

    <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
      {{ form.email|add_class:"mdc-text-field__input" }}
      {{ form.email.label_tag|add_class:"mdc-floating-label"|cut:":" }}
      <div class="mdc-notched-outline">
        <svg>
          <path class="mdc-notched-outline__path"/>
        </svg>
      </div>
      <div class="mdc-notched-outline__idle"></div>
    </div>

    {{ form.email.errors }}

    <div>
      <input class="mdc-button mdc-button--raised" type="submit" value="Reset password"/>
    </div>
  </form>
</section>
</main>
{% endblock %}
