{% extends 'peerinst/base.html' %}

{% block body %}

<main>
<section>
  <h1 class="mdc-typography--display3" style="position:sticky;">Email Sent
    <svg class="underline" width=150 height=4></svg>
  </h1>

  <h2 class="mdc-typography--headline mdc-theme--secondary">Please check your inbox</h2>

  <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
</section>
</main>
{% endblock %}

{% block scripts %}
<script>
underlines();
window.addEventListener("resize",underlines);
</script>
{% endblock %}
