{% extends "peerinst/base.html" %}

{% load i18n %}

{% block body %}

<main>
<section>
  <h1 class="mdc-typography--display3" style="position:sticky;">{{title|title}}
    <svg class="underline" width=150 height=4></svg>
  </h1>

  {% block content %}

  <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
  <br>
  <span class="admin-link">
    <a href="{% url 'login' %}">{% trans 'Log in' %}</a>
  </span>

  {% endblock %}
</section>
</main>

{% endblock %}


{% block scripts %}
<script>
underlines();
window.addEventListener("resize",underlines);
</script>
{% endblock %}
