body {
    background-color: #f4f4f4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12pt;
}
header {
  background-color: #54c0db;
}
h1 {
  color: #54c0db;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24pt;
  text-transform: uppercase;
}
#search-bar {
  font-family: 'Montserrat', sans-serif;
}
#check {
  color:  #54c0db;
}
.blink_rect {
  fill: #54c0db;
  opacity: 0.8;
}
#timer-bg {
  fill:  #54c0db;
}
