body {
    background-color: var(--mdc-theme-background);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12pt;
}
header {
  background-color: var(--mdc-theme-primary);
}
footer {
  background-image: linear-gradient(0deg,var(--mdc-theme-secondary) 0%, var(--mdc-theme-secondary) 90%, var(--mdc-theme-primary) 90%);
}
h1 {
  color: var(--mdc-theme-primary);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24pt;
  text-transform: uppercase;
}
#check {
  color:  var(--mdc-theme-primary);
}
.blink_rect {
  fill: var(--mdc-theme-primary);
}
#timer-bg {
  fill:  var(--mdc-theme-primary);
}
.mdc-button {
  color: white !important;
}
div.input-ripple-wrapper input {
  color: grey !important;
}
