{% extends 'peerinst/base.html' %}
{% load i18n %}

{% block body %}
<h1>{% trans 'Assignments' %}</h1>
{% if user.is_staff %}
  <div class="admin-link"><a href="{% url 'admin_index_wrapper' %}">Click here to add or edit content</a></div>
{% endif %}
<div class="search">
  Search: <input type="search" id="search-bar" oninput="search()"></input>
</div>
<ul>
{% for obj in object_list %}
  <li id="{{ obj.title }}" name="item">{{ forloop.counter }}. <a href="{% url 'question-list' assignment_id=obj.pk %}">
    {{ obj.title }}
  </a></li>
{% empty %}
  <li>{% trans 'No assignments available.' %}</li>
{% endfor %}
</ul>

<script>
var search_string = document.getElementById('search-bar');
search_string.focus();
function search(){
  var items = document.getElementsByName('item');
  for (var i=0; i<items.length; i++) {
    if (items[i].id.toLowerCase().indexOf(search_string.value.toLowerCase()) < 0) {
      items[i].style.display = "none";
    } else {
      items[i].style.display = "block";
    }
  }
  return;
}
</script>

{% endblock %}
