{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Dalite NG{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dalite NG">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'peerinst/css/main.css' %}"

    {% block stylesheets %}{% endblock %}
  </head>

  <body>
    {% block body %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
