{% extends 'peerinst/base.html' %}

{% load add_class i18n %}

{% block body %}
<main>
  <section>
    <h1 class="mdc-typography--display3" style="position:sticky;"> {% trans 'Blink Question' %}
      <svg class="underline" width=150 height=4></svg>
    </h1>

    <h2 class="mdc-typography--display1 mdc-theme--secondary">{{object.question.title}}</h2>

    <p class="mdc-theme--secondary">{{object.question.text|safe}}</p>

    {% if object.question.image %}
    <div>
      <img class="question-image" src="{{ object.question.image.url }}" alt="object.image_alt_text">
    </div>
    {% endif %}

    {{ form.non_field_errors }}
    
    <form method="post">
      {% csrf_token %}
      <span class="mdc-typography--body1">{{ form.first_answer_choice.label }}</span>
      {{ form.first_answer_choice.errors }}
      <ul>
      {% for choice in form.first_answer_choice %}
        <li>
          <div class="mdc-form-field">
            <div class="mdc-radio" data-mdc-auto-init="MDCRadio">
              {{ choice.tag|add_class:"mdc-radio__native-control" }}
              <div class="mdc-radio__background">
                <div class="mdc-radio__outer-circle"></div>
                <div class="mdc-radio__inner-circle"></div>
              </div>
            </div>
            <label class="mdc-typography--body1" for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
          </div>
        </li>
      {% endfor %}
      </ul>
      <div>
        <input class="mdc-button mdc-button--raised" type="submit" value="{% block submit_button %}{% trans 'Submit' %}{% endblock %}" />
      </div>
    </form>
  </section>
</main>
{% endblock %}
