{% extends 'peerinst/base.html' %}
{% load i18n %}

{% block body %}

<h1>Blink question</h1>

<h2>{{object.question.title}}</h2>
<p>{{object.question.text|safe}}</p>
{% if object.question.image %}
<div>
  <img style="display:block;margin:auto;padding-top:10pt;padding-bottom:10pt;" src="{{ object.question.image.url }}" alt="object.image_alt_text">
</div>
{% endif %}
<form method="post">
  {% csrf_token %}
  {{ form.field_errors }}
  {{ form }}
  <div>
    <input type="submit" value="{% block submit_button %}{% trans 'Submit' %}{% endblock %}" />
  </div>
</form>

{% endblock %}
