{% extends 'peerinst/question_start.html' %}
{% load i18n %}

{% block answers %}
<ul id="answer-choices">
  {% for label, choice in answer_choices %}
  <li class="{% if label == first_choice_label %}first-choice{% endif %}{% if label == second_choice_label %} second-choice{% endif %}">{{ label }}. {{ choice|safe }}
    {% if first_choice_label and second_choice_label %}
      {% if label == second_choice_label %}
        {% for c in correct %}
          {% if choice == c.text %}
            <i id="check" class="material-icons" style="-webkit-transform: translateY(5px);font-size:16pt;">check</i>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
  </li>
  {% endfor %}
</ul>
<div id="your-answer">
  <p>
    {% blocktrans %}
    You answered <strong>{{ first_choice_label }}</strong> and gave this rationale:
    {% endblocktrans %}
  </p>
  <blockquote id="your-rationale">{{ rationale }}</blockquote>
</div>
{% endblock %}
