{% extends 'peerinst/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ question.title }}{% endblock %}
{% block body %}
<!-- Show the summary table-->
<div class="question-answers-summary">
{% include 'peerinst/_question_answers_summary.html' %}
</div>

<!-- Show the HTML itself in a non-editable textarea, so course teams can copy-paste and share it.-->
<div class="share-question-answers-summary">
<label>Click below to select the HTML table, and copy to share the results.</br>
<textarea readonly="readonly">
{% include 'peerinst/_question_answers_summary.html' %}
</textarea></label>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'peerinst/js/question_answers_summary.js' %}"></script>
{% endblock %}
