{% extends 'peerinst/question_review_base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block answers %}
{{ block.super }}
<p>
  {% blocktrans %}
  Consider the problem again, noting the rationales below that have been provided by other
  students.  They may, or may not, cause you to reconsider your answer.  Read them, and select your
  final answer.
  {% endblocktrans %}
</p>
{% endblock %}

{% block inner_form %}
{{ form.non_field_errors }}
{{ form.second_answer_choice.errors }}
<div class="rationales">
  <div class="rationale" id="rationales-0">
    <div class="rationale-choice">{{ form.second_answer_choice.0 }}</div>
    <div class="rationale-text-container">{{ form.rationale_choice_0.errors }} {{ form.rationale_choice_0 }}</div>
  </div>
  <div class="rationale" id="rationales-1">
    <div class="rationale-choice">{{ form.second_answer_choice.1 }}</div>
    <div class="rationale-text-container">{{ form.rationale_choice_1.errors }} {{ form.rationale_choice_1 }}</div>
  </div>
</div>
{% endblock %}

{% block submit_button %}{% trans 'Submit' %}{% endblock %}

{% block scripts %}
  <script src="{% static 'peerinst/js/question_review.js' %}"></script>
{% endblock %}
