{% extends 'peerinst/base.html' %}
{% load i18n %}

{% block body %}
<h1>{% trans 'Questions' %}</h1>
{% if user.is_staff %}
  <div class="admin-link"><a href="{% url 'admin_index_wrapper' %}">Click here to add or edit content</a></div>
{% endif %}

<script>
function plot(data,id){
  var colour = {
    'easy' : 'rgb(30, 142, 62)',
    'hard' : 'rgb(237, 69, 40)',
    'tricky' : 'rgb(237, 170, 30)',
    'peer' : 'rgb(25, 118, 188)'
  }
  var max = -0;
  for (entry in d3.entries(data)){
    var item = d3.entries(data)[entry];
    if (item.value > max) {
      max = item.value;
      label = item.key;
    }
  }
  if (max > 0){
    var rating = document.getElementById("rating-"+id);
    rating.innerHTML = label.substring(0,1).toUpperCase()+label.substring(1,);

    var stats = document.getElementById("stats-"+id);
    stats.style.color = colour[label];
  }

  var svg = d3.select("#svg-"+id);

  var size = svg.attr("width");

  var g = svg.append("g");

  var easy = g.append("rect")
  .attr("x", 0)
  .attr("y", 0)
  .attr("width", size/2)
  .attr("height", size/2)
  .attr("fill",colour['easy'])
  .style("opacity",0)
  .transition()
  .duration(500)
  .style("opacity",0.5+0.5*data['easy']);

  /**easy.on("mouseover",function(d){
    tooltip.html("Correct to correct");

    tooltip.transition()
    .duration(100)
    .style("opacity",1);
  });

  easy.on("mouseout",function(d){
    tooltip.style("opacity",0);
  })**/

  g.append("text")
  .attr("x", size/4)
  .attr("y", size/4)
  .attr("dy",4)
  .style("font-size","8pt")
  .style("fill","white")
  .style("text-anchor","middle")
  .text(parseInt(100*data['easy'])+"%");

  g.append("rect")
  .attr("x", size/2)
  .attr("y", size/2)
  .attr("width", size/2)
  .attr("height", size/2)
  .attr("fill",colour['hard'])
  .style("opacity",0.5+0.5*data['hard']);

  g.append("text")
  .attr("x", 3*size/4)
  .attr("y", 3*size/4)
  .attr("dy",4)
  .style("font-size","8pt")
  .style("fill","white")
  .style("text-anchor","middle")
  .text(parseInt(100*data['hard'])+"%");

  g.append("rect")
  .attr("x", 0)
  .attr("y", size/2)
  .attr("width", size/2)
  .attr("height", size/2)
  .attr("fill",colour['peer'])
  .style("opacity",0.5+0.5*data['peer']);

  g.append("text")
  .attr("x", size/4)
  .attr("y", 3*size/4)
  .attr("dy",4)
  .style("font-size","8pt")
  .style("fill","white")
  .style("text-anchor","middle")
  .text(parseInt(100*data['peer'])+"%");

  g.append("rect")
  .attr("x", size/2)
  .attr("y", 0)
  .attr("width", size/2)
  .attr("height", size/2)
  .attr("fill",colour['tricky'])
  .style("opacity",0.5+0.5*data['tricky']);

  g.append("text")
  .attr("x", 3*size/4)
  .attr("y", size/4)
  .attr("dy",4)
  .style("font-size","8pt")
  .style("fill","white")
  .style("text-anchor","middle")
  .text(parseInt(100*data['tricky'])+"%");

  g.append("text")
  .attr("x", size/4)
  .attr("y", 5*size/4)
  .attr("dy",4)
  .style("font-size","8pt")
  .style("fill","black")
  .style("text-anchor","middle")
  .text(parseInt(100*(data['easy']+data['peer']))+"%");

  g.append("text")
  .attr("x", 3*size/4)
  .attr("y", 5*size/4)
  .attr("dy",4)
  .style("font-size","8pt")
  .style("fill","black")
  .style("text-anchor","middle")
  .text(parseInt(100*(data['hard']+data['tricky']))+"%");

  return;
}
</script>

<ul>
{% for obj in object_list %}
  <li>{{ forloop.counter }}. <a href="{% url 'question' assignment_id=assignment.pk question_id=obj.pk %}">{{ obj.title }}</a>
    <span id="stats-{{obj.id}}" class="stats">
      <i class="material-icons" style="cursor:pointer;padding-left:4pt;font-size:20px;-webkit-transform: translateY(4px);opacity:0.6;" onclick="showAnalytics({{ obj.id }})">assessment</i><span id="rating-{{obj.id}}"></span>
      <i class="material-icons" style="cursor:pointer;padding-left:4pt;font-size:18px;-webkit-transform: translateY(3px);opacity:0.6;" onclick="showAssignments({{ obj.id }})">description</i>{{ obj.assignment_set.all.count }}
      <i class="material-icons" style="cursor:pointer;padding-left:4pt;font-size:18px;-webkit-transform: translateY(4px);opacity:0.6;" onclick="showRationales({{ obj.id }})">chat</i>{{ obj.answer_set.all.count }}
    </span>
    <div class="question-text">
      {{ obj.text|safe|striptags }}
    </div>
    {% if obj.image %}
    <div class="question-text" id="question-image">
      <img src="{{ obj.image.url }}"
           width=200 alt="obj.image_alt_text">
    </div>
    {% endif %}
    <div style="clear:both;"></div>
    <div>
      <span id="{{ obj.id }}" name="analytics" class="items-for-question"><b>Analytics:</b></span>
      <div id="{{ obj.id }}" name="analytics" class="items-for-question">
        <svg id="svg-{{ obj.id }}" width="60" height="80" style="margin-left:40px;margin-right:10px;"></svg>
        <svg width="200" height="80"></svg>
      </div>
      <script>plot({{ obj.get_matrix|safe }},{{ obj.id }})</script>
    </div>
    <div>
      <span id="{{ obj.id }}" name="assignment" class="items-for-question"><b>Assignments:</b></span>
      <ul>
        {% for assignment in obj.assignment_set.all %}
          <li id="{{ obj.id }}" name="assignment" class="items-for-question"><a href="{% url 'question-list' assignment_id=assignment.pk %}">{{ assignment.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div>
      <span id="{{ obj.id }}" name="rationale" class="items-for-question"><b>Rationales:</b></span>
      <ul>
        {% for answer in obj.answer_set.all %}
          <li id="{{ obj.id }}" name="rationale" class="items-for-question">{{ answer.rationale|safe|striptags  }}</li>
        {% endfor %}
      </ul>
    </div>
  </li>
{% empty %}
  <li>{% trans 'No questions available.' %}</li>
{% endfor %}
</ul>

<script>

/*var tooltip = d3.select("body").append("div")
.attr("class", "tooltip")
.style("width","50px")
.style("height","50px")
.style("opacity", 0);*/

function showItems(items,id){
  for (var i=0; i<items.length; i++){
    if (items[i].id == id){
      if (items[i].style.display != "block"){
        items[i].style.display = "block";
      } else {
        items[i].style.display = "none";
      }
    }
  }
  return;
}

function showAnalytics(id){
  var items = document.getElementsByName('analytics');
  showItems(items,id);
  return;
}

function showAssignments(id){
  var items = document.getElementsByName('assignment');
  showItems(items,id);
  return;
}

function showRationales(id){
  var items = document.getElementsByName('rationale');
  showItems(items,id);
  return;
}

</script>

{% endblock %}
