{% extends 'peerinst/base.html' %}
{% load i18n %}

{% block body %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
<div class="container">
  <h1>{{ assignment.title }} </h1>
  <h2>{% trans 'Question' %} {{ question_index }}</h2>
  <div id="question-text">
    {{ question.text|safe }}
  </div>
  {% block answers %}
  {% endblock %}
  <form action="" method="post">
    {% csrf_token %}
    {% block inner_form %}{{ form.as_p }}{% endblock %}
    <input type="submit" value="{% block submit_button %}{% trans 'Next' %}{% endblock %}" />
  </form>
</div>
{% endblock %}
