{% extends 'peerinst/question_review_base.html' %}
{% load i18n %}

{% block answers %}
{{ block.super }}
<p class="mdc-typography--body1">
  {% if first_choice_label == second_choice_label %}
    {% if chosen_rationale == None %}
      {% blocktrans %}
        You stuck with your answer choice and rationale.
      {% endblocktrans %}
    {% else %}
      {% blocktrans %}
        You stuck with your answer choice and selected this rationale:
      {% endblocktrans %}
      <blockquote id="chosen-rationale">{{ chosen_rationale.rationale }}</blockquote>
    {% endif %}
  {% else %}
    {% blocktrans %}
      You then changed your answer to <strong>{{ second_choice_label }}</strong>
      and selected this rationale:
    {% endblocktrans %}
    <blockquote id="chosen-rationale">{{ chosen_rationale.rationale }}</blockquote>
  {% endif %}
</p>

<p class='mdc-typography--body1'>
  Correct answer(s):
    {% for answer in correct %}
      <blockquote>{{ answer.text|safe }}</blockquote>
    {% endfor %}
</p>

{% if experts %}
<p class='mdc-typography--body1'>
  Expert rationale(s):
    {% for expert in experts %}
      {% for option in question.answerchoice_set.all %}
        {% if option.correct and expert.first_answer_choice == forloop.counter %}
          <blockquote>{{ expert.rationale|safe }}</blockquote>
        {% endif %}
      {% endfor %}
    {% endfor %}
</p>
{% endif %}

{% endblock %}
