{% extends 'peerinst/base.html' %}

{% load i18n add_class %}

{% block body %}

<main>
<section>
  <h1 class="mdc-typography--display3" style="position:sticky;">{% trans 'My Assignments' %}
    <svg class="underline" width=150 height=4></svg>
  </h1>
  <div class="admin-link">
    <a href="{% url 'teacher' teacher.id %}">{% trans 'Back to My Account' %}</a>
  </div>

  <h2 class="mdc-typography--display1 mdc-theme--secondary">{% trans 'Create a new assignment' %}</h2>
  {{form.errors}}
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
        {{ field|add_class:"mdc-text-field__input" }}
        {{ field.label_tag|add_class:"mdc-floating-label"|cut:":" }}
        <div class="mdc-notched-outline">
          <svg>
            <path class="mdc-notched-outline__path"/>
          </svg>
        </div>
        <div class="mdc-notched-outline__idle"></div>
      </div>
      <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="true">
        {{ field.help_text|safe }}
      </p>
      {{ field.errors }}
    {% endfor %}
    <input class="mdc-button mdc-button--raised" type="submit" value="Create" />
  </form>

  <h2 class="mdc-typography--display1 mdc-theme--secondary">{% trans 'Current' %}</h2>

  <p>{% blocktrans %} These are the assignments for which reports will be available (based on your selected groups).{% endblocktrans %}</p>

  {% if not teacher.assignments.all %}
  <p>{% blocktrans %} You do not have any assignments.  You can select and modify an existing assignment from the list below or create a new one.{% endblocktrans %}</p>
  {% endif %}

  <ul class="mdc-list mdc-list--two-line mdc-list--non-interactive">
    {% for g in teacher.assignments.all %}
    <li role="separator" class="mdc-list-divider"></li>
    <li class="mdc-list-item">
      <span class="mdc-list-item__graphic mdc-theme--primary">
          <a href="" style="transform:translateY(4pt);">
            <i class="mdc-theme--primary material-icons md-48">assignment</i>
          </a>
      </span>
      <span class="mdc-list-item__text mdc-theme--secondary bold">
        {{ g.identifier }}
        <span class="mdc-list-item__secondary-text">
          {{ g.questions.count }} {% trans "questions" %}
        </span>
      </span>
      <span class="mdc-list-item__meta">
        <form method="post" style="display:inline;">
            {% csrf_token %}
            <input type="hidden" id="id_assignment" name="assignment" value="{{g.pk}}"/>
            <div class="mdc-ripple-surface input-ripple-wrapper">
              <input class="material-icons md-24 mdc-button small-button" style="padding:0pt;margin:0pt;" type="submit" value="remove_circle"/>
            </div>
        </form>
        <a href="{% url 'assignment-update' g.pk %}" class="md-24">
          <i class="material-icons md-24 mdc-ripple-surface icon-list">mode_edit</i>
        </a>
      </span>
    </li>
    {% endfor %}
    <li role="separator" class="mdc-list-divider"></li>
  </ul>

  <!-- Not yet implemented
  <h2 class="mdc-typography--display1 mdc-theme--secondary">{% trans 'My assignments' %}</h2>

  {% trans 'These are the assignments for which you are an author.' %}
  -->

  <h2 class="mdc-typography--display1 mdc-theme--secondary">All</h2>
  {% trans 'These are all the assignments in the database.' %}

  <ul class="mdc-list mdc-list--two-line mdc-list--non-interactive">
    {% for g in object_list.all %}
    {% if g not in teacher.assignments.all %}
    <li role="separator" class="mdc-list-divider"></li>
    <li class="mdc-list-item">
      <span class="mdc-list-item__graphic mdc-theme--primary">
        <form method="post">
          {% csrf_token %}
          <input class="material-icons small-button mdc-button mdc-button--raised" type="submit" value="add"/>
          <input type="hidden" id="id_assignment" name="assignment" value="{{g.pk}}"/>
        </form>
      </span>
      <span class="mdc-list-item__text mdc-theme--secondary bold">
        {{ g.identifier }}
        <span class="mdc-list-item__secondary-text">
          {{ g.questions.count }} {% trans "questions" %}
        </span>
      </span>
    </li>
    {% endif %}
    {% endfor %}
    <li role="separator" class="mdc-list-divider"></li>
  </ul>

</section>
</main>
{% endblock %}
