{% extends 'peerinst/base.html' %}

{% load i18n %}

{% block body %}

<style>
form {
  padding-top: 20px;
}
form option {
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
}
form label {
  vertical-align: top;
}
.form_field_wrapper {
  padding-bottom: 10px;
}
</style>

<h1>Identity</h1>

<h2>Edit discipline and institution</h2>

<p>Select content disciplines and the institutions where you teach.  You can select multiple choices using the shift button.</p>

{{ form.non_field_errors }}

<div>
<form action="{% url 'teacher-update' object.id %}" method="post">
    {% csrf_token %}

    <div class="form_field_wrapper">
      {{ form.institutions.errors }}
      {{ form.institutions.label_tag }}
      {{ form.institutions }}
    </div>

    <div class="form_field_wrapper">
      {{ form.disciplines.errors }}
      {{ form.disciplines.label_tag }}
      {{ form.disciplines }}
    </div>

    <input class="mdc-button mdc-button--raised mdc-ripple-surface" type="submit" value="Update" data-mdc-auto-init="MDCRipple"/>
</form>
</div>

{% endblock %}
