{% extends 'peerinst/base.html' %}
{% load i18n %}

{% block body %}

<style>
  input[type="submit"] {
    font-family: 'Material Icons';
    font-size: 10pt;
    padding:1pt;
    margin-left:3pt;

  }
  img {
    max-width:50%;
    max-height:200px;
  }
</style>

<h1>{% trans 'My Blink Questions' %}</h1>
<div class="admin-link" style="margin-bottom:0pt;"><a href="{% url 'teacher' teacher.id %}">{% trans 'Back to My Account' %}</a></div>
<h2>Your current blinks</h2>
{% if not teacher.blinkquestion_set.all %}
{% blocktrans %}
You do not have any blink questions.  You can select and modify an existing blink question from the list below or create a new one.
{% endblocktrans %}
{% endif %}
<ol>
{% for g in teacher.blinkquestion_set.all %}
 {% if g.current %}
  <li>{{g|safe}}
    <form style="display:inline" action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="blink" value="{{g.pk}}" />
        <input type="submit" value="clear" />
    </form>
    {% if g.question.image %}
    <div>
      <img style="display:block;margin:auto;
      padding-top:10pt;
      padding-bottom:10pt;"  src="{{ g.question.image.url }}"
           alt="g.question.image_alt_text">
    </div>
    {% endif %}
  </li>
  {% endif %}
{% endfor %}
</ol>


<h2>{% trans 'All your blinks' %}</h2>
<ol>
{% for g in teacher.blinkquestion_set.all %}
  {% if not g.current %}
  <li>{{g|safe}}
    <form style="display:inline" action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="blink" value="{{g.pk}}" />
        <input type="submit" value="add" />
    </form>
    {% if g.question.image %}
    <div>
      <img style="display:block;margin:auto;
      padding-top:10pt;
      padding-bottom:10pt;" src="{{ g.question.image.url }}"
           alt="g.question.image_alt_text">
    </div>
    {% endif %}
  </li>
  {% endif %}
{% endfor %}
</ol>


<h2>{% trans 'All questions in discipline' %}</h2>
<ol>
{% for g in suggested_questions %}
  <li>{{g.text|safe}}
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="new_blink" value="{{g.pk}}" />
        <input type="submit" value="add" />
    </form>
    {% if g.image %}
    <div>
      <img style="display:block;margin:auto;
      padding-top:10pt;
      padding-bottom:10pt;" src="{{ g.image.url }}"
           alt="g.image_alt_text">
    </div>
    {% endif %}

  </li>

{% endfor %}
</ol>
{% endblock %}
