{% extends 'peerinst/base.html' %}
{% load i18n %}

{% block body %}

<style>
  input[class="icon"] {
    font-family: 'Material Icons';
    font-size: 10pt;
    padding:1pt;
    margin-left:3pt;
  }
  .helptext {
    font-size:9pt;
    opacity:0.8;
    padding-left: 20pt;
  }
</style>

<h1>My Assignments</h1>
<div class="admin-link" style="margin-bottom:0pt;"><a href="{% url 'teacher' teacher.id %}">Back to My Account</a></div>

<h2>Create a new assignment</h2>
{{form.errors}}
<form action="" method="post">
    {% csrf_token %}
    {{form.identifier.label_tag}} {{ form.identifier }} <span class="helptext">{{ form.identifier.help_text }}</span><br>
    {{form.title.label_tag}} {{ form.title }}<br>
    <input type="submit" value="Save" />
</form>

<h2>Current</h2>
These are the assignments for which reports will be available (based on your selected groups).
{% if not teacher.groups.all %}
You do not have any assignments.  You can select and modify an existing assignment from the list below or create a new one.
{% endif %}
<ol>
{% for g in teacher.assignments.all %}
  <li>
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" id="id_assignment" name="assignment" value="{{g.pk}}"></input>
        {{g}}  <input class="icon" type="submit" value="clear" /> <span class="admin-link" ><a href="">Edit</a></span></li>
    </form>
  </li>
{% endfor %}
</ol>

<h2>My assignments</h2>
These are all the assignments for which you are an author.

<h2>All</h2>
These are all the assignments in the database.
<ol>
{% for g in object_list.all %}
  {% if g not in teacher.assignments.all %}
  <li>
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" id="id_assignment" name="assignment" value="{{g.pk}}"></input>
        {{g}}  <input class="icon" type="submit" value="add" />
    </form>
  </li>
  {% endif %}
{% endfor %}
</ol>

{% endblock %}
